<div class="collection_compare_select">
  <div class="collection_compare_select_btn">
    {{ 'common.vergleichen' | t }} (<span class="collection_compare_select_num"></span>)
    {{- 'icon-right.svg' | inline_asset_content -}}
  </div>
</div>
