{% if product.metafields.loox.avg_rating != blank %}
  <div class="product_rating">
    {% liquid
      assign rating = product.metafields.loox.avg_rating | times: 1 | floor
    %}
    {% for i in (1..rating) %}
      {{- 'icon-star-new.svg' | inline_asset_content -}}
    {% endfor %}
    <Span>{{ product.metafields.loox.avg_rating }}({{ product.metafields.loox.num_reviews }})</Span>
  </div>
{% endif %}
