{{ 'section-bundle-simple.css' | asset_url | stylesheet_tag }}

<div class="bundle_simple"></div>

{% schema %}
{
  "name": "bundle simple",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "product list"
    },
    {
      "type": "text",
      "id": "product_link_text",
      "label": "product link text"
    },
    {
      "type": "richtext",
      "id": "bundle_title",
      "label": "bundle box title"
    },
    {
      "type": "richtext",
      "id": "bundle_text",
      "label": "bundle box text"
    },
    {
      "type": "text",
      "id": "bundle_link_text",
      "label": "bundle link text"
    }
  ],
  "presets": [
    {
      "name": "bundle simple"
    }
  ]
}
{% endschema %}
