{{ 'section-collection-default.css' | asset_url | stylesheet_tag }}

<div class="collection_default_section padding-sider">
  <div class="collection_default">
    <div class="collection_default_title">{{ section.settings.title }}</div>
    <div class="collection_default_text">{{ section.settings.text }}</div>
    <div class="collection_default_head">
      {% for collection in section.settings.collection_list %}
        <div class="collection_default_head_item">{{ collection.title }}</div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "collection default",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "collection list"
    }
  ],
  "presets": [
    {
      "name": "collection default"
    }
  ]
}
{% endschema %}
