<div class="main_blog_help session-box-padding padding-top-30 padding-bottom-120">
    <div class="session-box-inner">
        <div class="help_left">1</div>
        <div class="help_right">2</div>
    </div>
</div>