{% comment %}
------------------------------------------------------------
Product Tab Compare Section - 产品对比 tab切换
------------------------------------------------------------
{% endcomment %}
<div class="product-tab-compare session-box-padding overflow-hidden">
    {% unless section.settings.title == blank %}
        <h2 class="padding-bottom-30 session-box-inner">{{ section.settings.title }}</h2>
    {% endunless %}
    <div class="session-box-inner">
        <div class="tab-header">
            
        </div>
        <div class="tab-content">
            
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Product Tab Compare",
  "tag": "section",
  "class": "section",
  "disabled_on": { "groups": ["header", "footer"] },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        { "type": "text", "id": "tab_title", "label": "Tab title" }
      ]
    },
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "select",
          "id": "belong_tab",
          "label": "Belongs to Tab",
          "options": [
            { "value": "0", "label": "Tab 1" },
            { "value": "1", "label": "Tab 2" },
            { "value": "2", "label": "Tab 3" }
          ],
          "default": "0"
        },
        {
          "type": "product",
          "id": "select_product",
          "label": "product"
        },
          
      ]
    }
  ],
  "presets": [
    { "name": "Product Tab Compare (default)" }
  ]
}
{% endschema %}