{{ 'section-product-info.css' | asset_url | stylesheet_tag }}

<div class="product_info_section padding-sider">
  <div class="product_info">
    <div class="product_info_left">
      <div
        class="product_info_left_contain"
        style="padding-bottom: {{ 1 | divided_by: section.settings.media_ratio | times: 100 }}%;"
      >
        <div class="swiper imgmain_swiper">
          <div class="swiper-wrapper">
            {%- if product.selected_or_first_available_variant != null -%}
              {% assign show_images = product.selected_or_first_available_variant.metafields.custom.multiple_images.value
                | default: product.images
              %}
              {% for image in show_images %}
                <div class="swiper-slide">
                  {{- image | image_url: width: image.width | image_tag: alt: product.title, preload: true -}}
                </div>
              {% endfor -%}
            {%- endif -%}
          </div>
          <div class="imgmain_swiper_prev">
            {{ 'header-swiper-left.svg' | inline_asset_content }}
          </div>
          <div class="imgmain_swiper_next">
            {{ 'header-swiper-right.svg' | inline_asset_content }}
          </div>
        </div>
      </div>
    </div>
    <div class="product_info_right"></div>
  </div>
</div>

{% schema %}
{
  "name": "product info",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "media_ratio",
      "options": [
        {
          "value": "1",
          "label": "1:1"
        },
        {
          "value": "1.33",
          "label": "4:3"
        },
        {
          "value": "1.77",
          "label": "16:9"
        }
      ],
      "default": "1.33",
      "label": "Media aspect ratio"
    }
  ],
  "presets": [
    {
      "name": "product info"
    }
  ]
}
{% endschema %}
