{{ 'section-product-comment.css' | asset_url | stylesheet_tag }}

<div class="product_comment_section padding-sider" id="{{ section.settings.spec_id }}">
  <div class="product_comment">
    <div class="product_comment_title">{{ section.settings.title }}</div>
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "product comment",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "spec_id",
      "label": "specId"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "title"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "product comment"
    }
  ]
}
{% endschema %}
