{% comment %} 专题详情页轮播tab {% endcomment %}
<div class="padding-top-120 tabs_topic">
    <div class="session-box padding-bottom-60">
        {% if section.settings.title != blank %}
            <h2>{{ section.settings.title }}</h2>
        {% endif %}
    </div>
    <div class="tabs">
        <ul class="tab-titles session-box">
          {% for block in section.blocks %}
            <li>{{ block.settings.tab_title }}</li>
          {% endfor %}
        </ul>
        <div class="tab-contents">
          {% for block in section.blocks %}
            <div class="tab-content">{{ block.settings.tab_content }}</div>
          {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "tabs topic",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title"
    },
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title"
        },
        {
          "type": "richtext",
          "id": "tab_content",
          "label": "Tab Content"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Tabs"
    }
  ]
}
{% endschema %}
<style>
.tabs_topic .tab-titles{
    display: flex;
    gap: 8%;
    border-bottom: 1px solid #E2DED6;
    list-style: none;
    padding: 0;
}
.tabs_topic .tab-titles li{
    padding-bottom:10px;
    color:#7F7E75;
    font-size:2.4rem;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.tabs_topic .tab-titles li.active,.tabs_topic .tab-titles li:hover{
    color:#1F1F1F;
    border-bottom: 2px solid #BDFF00;
}
</style>