{% comment %}
------------------------------------------------------------
专题详情页：3种尺寸图文排列
------------------------------------------------------------
{% endcomment %}
{{ 'section-topic-text-img.css' | asset_url | stylesheet_tag }}
<div class="padding-top-60 padding-bottom-60">
</div>