{{ 'section-user-feedback.css' | asset_url | stylesheet_tag }}

<div class="user_feedback padding-sider">
  <div class="user_feedback_header">
    <div class="user_feedback_title">{{ section.settings.title }}</div>
    <div class="user_feedback_text">{{ section.settings.text }}</div>
  </div>
  <div>
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "user feedback",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "user feedback"
    }
  ]
}
{% endschema %}
