.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), 0.5);
  transition: visibility var(--duration-default) ease;
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width: 70rem;
  max-width: calc(100vw - 3rem);
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
  border-right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
  background-color: #fff;
}

.drawer__inner-empty {
  height: 100%;
  padding: 0 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer__header {
  position: relative;
  padding: 7rem 6rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer__heading {
  font-family: "PP Right Grotesk";
  font-size: 4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.drawer__close {
  display: inline-block;
  padding: 0;
  min-width: 3.4rem;
  min-height: 3rem;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  /* position: absolute; */
  top: 10px;
  right: -10px;
  color: rgb(var(--color-foreground));
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
}

/* .drawer__close .svg-wrapper {
  height: 2rem;
  width: 2rem;
} */

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  /* border-top: 0.1rem solid rgba(var(--color-foreground), 0.2); */
  box-shadow: 0px -0.4rem 1rem 0px rgba(0, 0, 0, 0.3);
  padding: 2.5rem 6rem 3rem;
}

cart-drawer-items.is-empty+.drawer__footer {
  display: none;
}

.drawer__footer>details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer>details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 2.8rem 1.5rem 0;
}

.drawer__footer>details+.cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items,
.cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
}

cart-drawer-items {
  overflow: auto;
  flex: 1;
  padding: 0 6rem;
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer__inner {
    overflow: scroll;
  }
}

.cart-drawer .cart-item {
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid #E2DED6;
}

.cart-drawer .cart-item .cart-item-main {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}

.cart-drawer .cart-item .cart-item-main+.cart-item-main {
  padding-top: 3rem;
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
}

.cart-drawer .cart-item__media {
  /* grid-row: 1 / 3; */
  flex: 0 0 14rem;
  height: 14rem;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1.5rem;
}

.cart-drawer .cart-item .loading__spinner {
  right: 5px;
  padding-top: 2.5rem;
}

/* .cart-drawer .cart-items td {
  padding-top: 1.7rem;
}

.cart-drawer .cart-item>td+td {
  padding-left: 1rem;
} */

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
}

.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper>*:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  /* flex-direction: column; */
  align-items: baseline;
  gap: 1rem;
}

.cart-item__price-wrapper {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.cart-item__price-wrapper .cart-item__old-price {
  font-size: 1.6rem;
  text-decoration: line-through;
  color: #7F7E75;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  grid-column: 2 / 5;
}

@media screen and (max-width: 749px) {
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }
}

/* .cart-drawer__footer>*+* {
  margin-top: 1rem;
} */

.cart-drawer .totals {
  justify-content: space-between;
}

/* .cart-drawer .price {
  line-height: 1;
} */

.cart-drawer .tax-note {
  margin: 1.2rem 0 2rem auto;
  text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open]>summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
  max-width: none;
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul>li {
  flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul>li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul>li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(2)~li,
  .drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(4)~li {
    flex-basis: calc(50% - 0.5rem) !important;
  }
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

.cart-drawer .quantity-popover-container {
  padding: 0;
}

.cart-drawer .quantity-popover__info.global-settings-popup {
  transform: translateY(0);
  top: 100%;
}

.cart-drawer .cart-item__error {
  margin-top: 0.8rem;
}

.cart-drawer .quantity-popover__info+.cart-item__error {
  margin-top: 0.2rem;
}

@media screen and (min-width: 750px) {
  .cart-drawer .cart-item__quantity--info quantity-popover>* {
    padding-left: 0;
  }

  .cart-drawer .cart-item__error {
    margin-left: 0;
  }
}

.cart_drawer_infobar {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
  padding: 0.7rem 1.2rem 0.5rem 1.2rem;
  background-color: #E2DED6;
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-bottom: 3rem;
}

.drawer__cart-items-wrapper-right {
  flex: 1;
  padding-right: 1rem;
}

.drawer__cart-items-wrapper-right-head {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.drawer__cart-items-wrapper-right-bottom {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1rem;
}

.discounts__discount {
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130% !important;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FF7500;
}

.quantity-popover-container {
  width: 8rem !important;
}

.quantity-popover-container .quantity {
  min-height: auto;
  height: 2.8rem !important;
  background-color: #F2F1ED !important;
}

.quantity__button {
  width: 2.4rem;
}

.cartdrawer_bundle_product_head {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  border-bottom: 0.1rem solid #1F1F1F;
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 0.8rem;
  cursor: pointer;
}

.cartdrawer_bundle_product_item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-left: 7.2rem;
  margin-top: 1.5rem;
}

.cartdrawer_bundle_product_item img {
  flex: 0 0 7rem;
  height: 7rem;
  object-fit: contain;
  object-position: center center;
}

.cartdrawer_bundle_product_item_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.cartdrawer_bundle_product_item_options {
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
}

.cartdrawer_bundle_product_item_price {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.cartdrawer_bundle_product_item_price_op {
  font-size: 1.6rem;
  text-decoration: line-through;
  color: #7F7E75;
}

.cartdrawer_bundle_product_delete {
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  cursor: pointer;
  margin-top: 0.8rem;
}

.cartdrawer_bundle_product_item_info {
  flex: 1;
}

.cartdrawer_bundle_product_body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
}

.cartdrawer_bundle_product.active .cartdrawer_bundle_product_body {
  max-height: 100rem;
  opacity: 1;
}

.cartdrawer_bundle_product_head svg {
  transition: transform .3s ease-in-out;
}

.cartdrawer_bundle_product.active .cartdrawer_bundle_product_head svg {
  transform: rotate(180deg);
}

.cart_drawer_infobar_contain {
  padding: 0 6rem;
}

.cart-drawer__footer .totals__total,
.cart-drawer__footer .totals__total-value {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #333333;
}

.cartdrawer_total_price {
  border-top: 0.1rem solid #E2DED6;
  margin-top: 1.2rem;
}

.cartdrawer_total_price .totals__total-value {
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  color: #1F1F1F;
}

.cartdrawer_shipping_and_taxes {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
}

.drawer__footer.active .cartdrawer_shipping_and_taxes {
  max-height: 10rem;
  opacity: 1;
}

.drawer__footer .cart__ctas {
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}

.cartdrawer_viewdetail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  cursor: pointer;
}

.cartdrawer_viewdetail svg {
  transition: transform .3s ease-in-out;
}

.drawer__footer.active .cartdrawer_viewdetail svg {
  transform: rotate(180deg)
}

.drawer__footer .cart__ctas button {
  flex: 0 0 42.2rem;
  height: 6.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BDFF00;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin: 0;
}