.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents>*+* {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer>div:only-child {
  margin-left: auto;
}

.cart__footer>*+* {
  margin-top: 6.5rem;
}

.cart__footer .discounts {
  margin-bottom: 1rem;
}

.cart__note {
  height: fit-content;
  top: 2.5rem;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents>*+* {
    margin-top: 0;
  }

  .cart__items+.cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer>* {
    width: 35rem;
  }

  .cart__footer>*+* {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas>*+* {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__dynamic-checkout-buttons:has(.dynamic-checkout__content:empty) {
  margin: 0;
}

.cart__blocks>*+* {
  margin-top: 1rem;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}

.cart_section {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 4.5rem;
  padding-top: 7.8rem;
  padding-bottom: 12rem;
}

.cart_section>.gradient {
  flex: 1;
}

.cart_section .cart_section_left {
  flex: 0 0 43rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 3rem 3.2rem 2.4rem;
}

.cart_section .title-wrapper-with-link .title--primary {
  font-family: "PP Right Grotesk";
  font-size: 6rem;
  font-weight: 500;
  line-height: 94%;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.cart_section .cart_drawer_infobar_contain {
  padding: 0;
}

.cart_section .cart-item-main {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}

.cart_section .cart-item__media {
  flex: 0 0 14rem;
  height: 14rem;
}

.cart_section .drawer__cart-items-wrapper-right {
  padding: 0;
}

.cart_section .cart-item__details {
  width: 100%;
}

.cart_section .quantity-popover-container {
  width: 11.8rem !important;
  padding: 0;
}

.cart_section .quantity-popover-container .quantity {
  height: 4rem !important;
  background-color: #fff !important;
}

.cart_section .quantity__input {
  background-color: #fff;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.cart_section .quantity__button {
  width: 4rem;
}

.cart_section .cart_section_left_title {
  font-family: "PP Right Grotesk";
  font-size: 4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-bottom: 2.8rem;
}

.cart_section .cart_section_left_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #333333;
  margin-bottom: 1.6rem;
}

.cart_section .cart_section_left_total_price {
  /* border-top: 0.1rem solid #C4C4C4; */
  padding-top: 2rem;
}

.cart_section .cart_section_left_total_price span:last-child {
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.cart_section .cart_section_left_note {
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  text-align: right;
}

.cart_section .cart_section_left_note a {
  color: inherit;
}

.cart_section .cart_section_left_btn button {
  width: 100%;
  height: 6.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BDFF00;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.cart_section .cart_section_left_payment {
  border-bottom: 0.1rem solid #C4C4C4;
  margin-bottom: 1rem;
}

.cart_section .cart_section_left_discount {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  border-bottom: 0.1rem solid #C4C4C4;
  padding-bottom: 2rem;
}

.cart_section #cart_section_left_discount_btn {
  width: 10.7rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7F7E75;
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  cursor: pointer;
}

.cart_section .cart_section_left_discount input {
  flex: 1;
  border: 1px solid #E2DED6;
  height: 3rem;
  padding: 0 1.8rem;
  background-color: #FAFAFA;
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
}

.cart_section .cart_section_left_discount input:focus+#cart_section_left_discount_btn {
  background-color: #bdff00;
  color: #1f1f1f;
}