.img_with_text_box_simplicity_section {
  width: 100%;
  background-color: #f2f1ed;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.img_with_text_box_simplicity {
  max-width: 144rem;
  margin: 0 auto;
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_maintitle {
  font-family: "PP Right Grotesk";
  font-size: 6rem;
  font-weight: 500;
  line-height: 94%;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_title {
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 3rem;
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_desc {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 1.6rem;
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_filebox {
  position: relative;
  padding-bottom: 150%;
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_filebox_video,
.img_with_text_box_simplicity .img_with_text_box_simplicity_filebox_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_contain {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 3rem;
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_contain_item_2 {
  flex: 0 0 auto;
  width: calc((100% - 3rem) / 2);
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_contain_item_3 {
  flex: 0 0 auto;
  width: calc((100% - 6rem) / 3);
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_contain_item_4 {
  flex: 0 0 auto;
  width: calc((100% - 9rem) / 4);
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_contain_item_5 {
  flex: 0 0 auto;
  width: calc((100% - 12rem) / 5);
}

@media screen and (max-width: 768px) {}