.technical_data_section {
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.technical_data {
  max-width: 144rem;
  margin: 0 auto;
}

.technical_data .technical_data_title {
  text-transform: capitalize;
  color: #1F1F1F;
}

.technical_data .technical_data_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid #E2DED6;
  padding-bottom: 0.9rem;
  margin-top: 6rem;
}

.technical_data .technical_data_head_item {
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  cursor: pointer;
}

.technical_data .technical_data_head_item.active {
  color: #1F1F1F;
  text-decoration: underline;
  text-decoration-color: #BDFF00;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.9rem;
}

.technical_data .technical_data_contain {
  width: 100%;
  margin-top: 3rem;
}

.technical_data .technical_data_contain .swiper-slide {
  display: flex;
  align-items: flex-start;
  gap: 4.6rem;
}

.technical_data .technical_data_contain_filebox {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
}

.technical_data .technical_data_contain_filebox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.technical_data .technical_data_contain_info {
  flex: 1;
}

.technical_data .technical_data_contain_info_item {
  min-height: 43px;
  height: auto;
  display: flex;
  align-items: center;
  background-color: #F2F1ED;
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  justify-content: space-between;
  padding: 0.8rem 0;
}

.technical_data .technical_data_contain_info_item:nth-child(2n) {
  background-color: #FFFFFF;
}

.technical_data .technical_data_contain_info_item_label {
  color: #7F7E75;
  padding-left: 2rem;
  min-width: 24rem;
}
.technical_data_contain_info_item_value{
  width: 40%;
}
.technical_data .technical_data_contain_info_item .technical_data_contain_info_item_value a{
  color: #1F1F1F;
}
.technical_data .technical_data_contain_info_item .technical_data_contain_info_item_value a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 1024px) {
.technical_data .technical_data_head_item {
  font-size: 1.8rem;
  min-width: fit-content;
  padding: 0 20px;
}
.technical_data .technical_data_head{overflow-x: scroll;}

}

@media screen and (max-width: 767px) {
.technical_data .technical_data_contain .swiper-slide{
  flex-direction: column;
}
.technical_data .technical_data_contain_info,
.technical_data .technical_data_contain_filebox{
  width: 100%;
  
}
}