.activity_subscribe_section {
  width: 100%;
  background-color: #f2f1ed;
  padding-top: 12rem;
}

.activity_subscribe {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
}

.activity_subscribe .activity_subscribe_top_item {
  flex: 0 0 auto;
  width: calc((100% - 6rem) / 2);
  height: 33.6rem;
  background-color: #E2DED6;
  position: relative;
  padding: 2.6rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity_subscribe .activity_subscribe_top_item_title {
  font-family: PP Right Grotesk;
  font-size: 4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.activity_subscribe .activity_subscribe_top_item_text {
  font-family: PP Right Grotesk;
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 1.2rem;
}

.activity_subscribe .activity_subscribe_top_item_icon {
  position: absolute;
  right: 3.4rem;
  bottom: 3rem;
  width: 13%;
}
.activity_subscribe_top_item_icon svg{
  width: 100%;
  height: auto;
}

.activity_subscribe .activity_subscribe_bottom {
  flex: 0 0 auto;
  width: 100%;
  height: 64rem;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 9rem;
}

.activity_subscribe .activity_subscribe_bottom_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
}

.activity_subscribe .activity_subscribe_bottom_info {
  position: relative;
  z-index: 1;
}

.activity_subscribe .activity_subscribe_bottom_subtitle {
  font-family: PP Right Grotesk;
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
}

.activity_subscribe .activity_subscribe_bottom_title {
  font-family: PP Right Grotesk;
  font-size: 6rem;
  font-weight: 500;
  line-height: 94%;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  margin-top: 1.2rem;
}

.activity_subscribe .activity_subscribe_bottom_text {
  font-family: PP Right Grotesk;
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  margin-top: 3rem;
}

.activity_subscribe .activity_subscribe_bottom_form {
  margin-top: 6rem;
}

.activity_subscribe .activity_subscribe_bottom_form .newsletter-form,
.activity_subscribe .activity_subscribe_bottom_form .newsletter-form__field-wrapper {
  max-width: 49rem;
  margin: 0;
  width: 100%;
}

.activity_subscribe .activity_subscribe_bottom_form .field__input {
  height: 6.8rem;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin: 0;
  padding-right: 40%;
}

.activity_subscribe .activity_subscribe_bottom_form .field:after {
  box-shadow: none;
}

.activity_subscribe .activity_subscribe_bottom_form .field__input:focus,
.activity_subscribe .activity_subscribe_bottom_form .field__input:not(:placeholder-shown) {
  padding: 1.5rem;
  padding-right: 40%;
}

.activity_subscribe .activity_subscribe_bottom_form .newsletter-form__message {
  color: #7f7e75;
}

.activity_subscribe .activity_subscribe_bottom_form .newsletter-form__button {
  max-width: 18rem;
  background-color: #BDFF00;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  right: 0;
  height: 100%;
  width: 40%;
}

.activity_subscribe .activity_subscribe_bottom_form .newsletter-form__button:not(:focus-visible):not(.focused) {
  background-color: #BDFF00;
}

.activity_subscribe .activity_subscribe_bottom_form .field__input::placeholder {
  opacity: 1;
}

.activity_subscribe .activity_subscribe_bottom_form .field__input::placeholder {
  color: #E2DED6;
}

.activity_subscribe .activity_subscribe_bottom_form .field__input::-webkit-input-placeholder {
  color: #E2DED6;
}

.activity_subscribe .activity_subscribe_bottom_form .field__input:-moz-placeholder {
  color: #E2DED6;
}

.activity_subscribe .activity_subscribe_bottom_form .field__input::-moz-placeholder {
  color: #E2DED6;
}

.activity_subscribe .activity_subscribe_bottom_form .field__input:-ms-input-placeholder {
  color: #E2DED6;
}

.activity_subscribe .activity_subscribe_top_item_btnline {
  display: flex;
  gap: 1.8rem;
}

.activity_subscribe .activity_subscribe_top_item_btnone {
  height: 3.6rem;
  min-width: 18rem;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 0.15rem solid #1F1F1F;
  font-family: PP Right Grotesk;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.activity_subscribe .activity_subscribe_top_item_btntwo {
  height: 3.6rem;
  min-width: 18rem;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BDFF00;
  font-family: PP Right Grotesk;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}