.link_block_section {
  width: 100%;
  padding-top: 12rem;
  background-color: #F2F1ED;
  box-sizing: border-box;
}

.link_block {
  max-width: 144rem;
  margin: 0 auto;
}

.link_block .link_block_title {
  color: #1F1F1F;
}

.link_block .link_block_text {
  color: #1F1F1F;
  margin-top: 3rem;
}

.link_block .link_block_contain {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem 3.2rem;
}

.link_block .link_block_contain_item {
  flex: 0 0 auto;
  width: calc((100% - 3.2rem) / 2);
  height: 43rem;
  position: relative;
  overflow: hidden;
}

.link_block .link_block_contain_item::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 52%, rgba(0, 0, 0, 0.73) 100%);
  position: absolute;
  z-index: 1;
}

.link_block .link_block_contain_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: transform .4s ease-in-out;
}

.link_block .link_block_contain_item_info {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  z-index: 2;
}

.link_block .link_block_contain_item_info_title {
  color: #FFFFFF;
}

.link_block .link_block_contain_item_info_text {
  font-size: 2.4rem;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 2rem;
}

.link_block .link_block_contain_item_info_btn {
  background-color: #fff;
  margin-top: 4.6rem;
  color: #7F7E75;
}

.link_block .link_block_contain_item_info_btn svg path {
  fill: #7F7E75;
}

.link_block .link_block_contain_item:hover img {
  transform: scale(1.2);
}

.link_block .link_block_contain_item:hover .link_block_contain_item_info_btn {
  background-color: #BDFF00;
  color: #1F1F1F;
}

.link_block .link_block_contain_item:hover .link_block_contain_item_info_btn svg path {
  fill: #1F1F1F;
}

@media screen and (max-width: 1440px) {
  .link_block .link_block_contain_item_info_text {
    font-size: 1.8rem;
    margin-top: 1.4rem;
  }
  .link_block .link_block_contain_item_info_btn {
    margin-top: 3rem;
  }
}