.img_with_text_tab_section {
  width: 100%;
  background-color: #F2F2F2;
  padding-top: 12rem;
  padding-bottom: 12rem;
  overflow: hidden;
}

.img_with_text_tab {
  max-width: 144rem;
  margin: 0 auto;
}
.img_with_text_tab .img_with_text_simplicity_subtitle {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-bottom: 0.8rem;
}
.img_with_text_tab_section .text-body{text-align: center;}
.img_with_text_tab .img_with_text_tab_title {
  text-transform: capitalize;
  color: #1F1F1F;
  text-align: center;
}

.img_with_text_tab .img_with_text_tab_head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
  overflow-x: auto;
  margin-top: 3rem;
}

.img_with_text_tab .img_with_text_tab_head_item {
  flex: 0 0 auto;
  min-width: 25.2rem;
  height: 4.2rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  background-color: #7F7E75;
  cursor: pointer;
}

.img_with_text_tab .img_with_text_tab_head_item.active,
.img_with_text_tab .img_with_text_tab_head_item:hover {
  background-color: #1F1F1F;
  color: #BDFF00;
}

.img_with_text_tab .img_with_text_tab_contain {
  width: 100%;
  margin-top: 3rem;
}

.img_with_text_tab .img_with_text_tab_contain .swiper-slide {
  display: flex;
  align-items: stretch;
}
.img_with_text_tab .img_with_text_tab_contain .swiper-slide.right {
  flex-direction: row-reverse;
}

.img_with_text_tab .img_with_text_tab_contain_filebox {
  flex: 0 0 auto;
  width: 50%;
  min-height: 48rem;
}

.img_with_text_tab .img_with_text_tab_contain_filebox_image,
.img_with_text_tab .img_with_text_tab_contain_filebox_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.img_with_text_tab .img_with_text_tab_contain_info {
  flex: 0 0 auto;
  width: 50%;
  background-color: #fff;
  padding: 3.4rem 2.2rem 14rem 3.8rem;
  position: relative;
}
.img_with_text_tab .img_with_text_tab_contain .swiper-slide.right .img_with_text_tab_contain_info {
  text-align: left;
}

.img_with_text_tab .img_with_text_tab_contain_title {
  font-family: "PP Right Grotesk";
  font-size: 4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.img_with_text_tab .img_with_text_tab_contain_desc {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 3rem;
}

.img_with_text_tab .img_with_text_tab_swiper_prev,
.img_with_text_tab .img_with_text_tab_swiper_next {
  width: 6rem;
  height: 6rem;
  position: absolute;
  bottom: 5rem;
  background-color: #E2DED6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.img_with_text_tab .img_with_text_tab_swiper_prev:hover,
.img_with_text_tab .img_with_text_tab_swiper_next:hover {
  background-color: rgba(31, 31, 31, .6);
}

.img_with_text_tab .img_with_text_tab_swiper_prev:hover svg path,
.img_with_text_tab .img_with_text_tab_swiper_next:hover svg path {
  fill: #BDFF00;
}

.img_with_text_tab .img_with_text_tab_swiper_prev {
  left: 3rem;
}

.img_with_text_tab .img_with_text_tab_swiper_next {
  left: 13rem;
}

@media only screen and (max-width: 767px) {
  .img_with_text_tab .img_with_text_tab_contain .swiper-slide{
    align-items: flex-start;
    flex-direction: column;
  }
  .img_with_text_tab .img_with_text_tab_contain_filebox{
    width: 100%;
    min-height: auto;
  }
  .img_with_text_tab .img_with_text_tab_contain_info{
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
  }
  .img_with_text_tab .img_with_text_tab_contain .swiper-slide.right {
    flex-direction: column;
  }
}