.video_simplicity_section {
  width: 100%;
}

.video_simplicity {
  max-width: 144rem;
  margin: 0 auto;
}

.video_simplicity .video_simplicity_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.video_simplicity .video_simplicity_contain {
  position: relative;
  width: 100%;
  height: 81rem;
  margin-top: 6rem;
}

.video_simplicity .video_simplicity_contain::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2);
  position: absolute;
  bottom: 0;
  left: 0;
}

.video_simplicity .video_simplicity_playicon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  z-index: 1;
  width: 13.2rem;
  height: 13.2rem;
}

.video_simplicity .video_simplicity_playicon svg {
  width: 100%;
  height: 100%;
}

.video_simplicity .video_simplicity_info {
  font-family: "PP Right Grotesk";
  font-size: 6rem;
  font-weight: 500;
  line-height: 94%;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

@media screen and (max-width: 768px) {
  .video_simplicity .video_simplicity_contain{
    height: 56vw;
  }
  .video_simplicity .video_simplicity_playicon {
    width: 6rem;
    height: 6rem;
}
}