.compare_simple_section {
  width: 100%;
  /* padding-top: 12rem;
  padding-bottom: 12rem; */
  background-color: #F2F1ED;
}

.compare_simple {
  max-width: 154rem;
  margin: 0 auto;
}

.compare_simple .compare_simple_contain {
  width: 100%;
  background-color: #fff;
  padding: 5rem 5rem 6rem 5rem;
}

.compare_simple .compare_simple_contain_head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.compare_simple .compare_simple_contain_head_title {
  color: #7F7E75;
}

.compare_simple .compare_simple_contain_head_text {
  color: #7F7E75;
  margin-top: 3rem;
}

.compare_simple .compare_simple_contain_head_link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  cursor: pointer;
}

.compare_simple .compare_simple_contain_head_link svg {
  width: 1.9rem;
  height: 2.4rem;
}

.compare_simple .compare_simple_contain_head_link svg path {
  fill: #7F7E75;
}

.compare_simple .compare_simple_contain_body_outer {
  /* display: flex;
  align-items: stretch;
  gap: 1.2rem; */
  margin-top: 4.4rem;
  position: relative;
}

.compare_simple .compare_simple_item {
  flex: 1;
  width: 100%;
}

.compare_simple .compare_simple_item .swiper {
  width: 100%;
  max-height: 37rem;
  background-color: #FAFAFA;
  padding-bottom: 6rem;
}

.compare_simple .compare_simple_item .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center top;
}

.compare_simple .compare_simple_item_title {
  width: 100%;
  /* min-height: 4rem; */
  background-color: #7F7E75;
  padding: 0.6rem 1.6rem 1rem;
  position: absolute;
  bottom: 0;
  color: #BDFF00;
  padding-bottom: 1rem;
  z-index: 1;
  font-size: 2rem;
}

.compare_simple .compare_simple_item_title .product_title{
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.compare_simple .compare_simple_item_title .product_title_top {
  width: 50%;
  background-color: #7F7E75;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  padding: .6rem 1.6rem 0;
  line-height: 1em;
  min-width: fit-content;
}
.compare_simple .compare_simple_item:hover .compare_simple_item_title,.compare_simple .compare_simple_item:hover .compare_simple_item_title .product_title_top {
  background-color: #BDFF00;
  color: #1F1F1F;
}

.compare_simple .compare_simple_item_color {
  display: flex;
  gap: 2rem;
  padding: 1.6rem;
  border-bottom: 0.1rem solid #F3F3F3;
  display: none;
}

.compare_simple .compare_simple_item_color_circle {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0px 0.1rem rgba(0, 0, 0, .1);
  position: relative;
  overflow: hidden;
}

.compare_simple .compare_simple_item_color_circle_none::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 0.2rem;
  background-color: red;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: center;
}

.compare_simple .compare_simple_item_price {
  padding: 1rem 1.6rem;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  border-bottom: 0.1rem solid #F3F3F3;
}

.compare_simple .compare_simple_item_line {
  padding: 1rem 1.6rem;
  border-bottom: 0.1rem solid #F3F3F3;
}

.compare_simple .compare_simple_item_line_label {
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
}

.compare_simple .compare_simple_item_line_value {
  font-family: PP Right Grotesk;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}
.compare_simple .nd-btn{width:100%;display: flex;justify-content: space-between;margin:0;}
.compare_simple .compare_simple_outer_prev{
  left: -6.5rem;
}
.compare_simple .compare_simple_outer_next{
  right: -6.5rem;
}
@media screen and (max-width: 1440px) {
  .compare_simple .compare_simple_item_title{font-size: 2rem;}
  .compare_simple .compare_simple_item_line_value{font-size: 2rem;}
  .compare_simple .compare_simple_item_price{font-size: 2rem;}
  .compare_simple .compare_simple_contain {
    padding: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .compare_simple .compare_simple_outer_prev{
    left: -4.5rem;
  }
  .compare_simple .compare_simple_outer_next{
    right: -4.5rem;
  }
}
@media screen and (max-width: 768px) {
  .compare_simple .compare_simple_contain_head {
    flex-direction: column;
    gap: 2rem;
  }
}