.user_feedback {
  width: 100%;
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-color: #FAFAFA;
  position: relative;
}

.user_feedback .user_feedback_title {
  font-family: "PP Right Grotesk";
  font-size: 6rem;
  font-weight: 500;
  line-height: 94%;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.user_feedback .user_feedback_text {
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 3rem;
}

.user_feedback .loox-v2-carousel-app {
  padding-top: 4rem;
  padding-bottom: 0;
  margin: 0;
  max-width: 100%;
}

.user_feedback .loox-v2-carousel-app .loox-v2-carousel-container.has-round-arrows {
  padding: 0;
  padding-left: 12.5vw;
}

.user_feedback .loox-carousel-card-item-author-name {
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
}

.user_feedback .loox-carousel-card-item-content {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
}