.product_compare_section {
  background-color: #FAFAFA;
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 12rem;
}

.product_compare {
  max-width: 144rem;
  margin: 0 auto;
  background-color: #F2F1ED;
  position: relative;
  padding-bottom: 10rem;
}

.product_compare .product_compare_title {
  width: 50%;
  position: relative;
  height: 14.6rem;
  color: #1F1F1F;
  padding-top: 4.2rem;
  padding-left: 5rem;
}

.product_compare .product_compare_title::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
}

.product_compare .product_compare_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.6rem;
  padding: 0 5rem;
}

.product_compare .product_compare_flex svg {
  cursor: pointer;
}

.product_compare .product_compare_text {
  color: #1F1F1F;
}

.product_compare .product_compare_text svg {
  cursor: pointer;
}

.product_compare .product_compare_selectbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6.5rem 5rem 0;
  gap: 4.6rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #F2F1ED;
}

.product_compare .product_compare_select {
  width: calc((100% - 9.2rem) / 3);
  max-width: 45rem;
  height: 6rem;
  border: 1px solid #7F7E75;
  background-color: #F2F1ED;
  padding-left: 1.4rem;
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1A1A1A;
}

.product_compare .product_compare_contain {
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 5rem 0;
  gap: 4.6rem;
}

.product_compare .product_compare_product {
  width: calc((100% - 9.2rem) / 3);
  max-width: 45rem;
}

.product_compare .product_compare_product_sticky {
  background-color: #f2f1ed;
  position: sticky;
  top: 15.7rem;
}

.product_compare .product_compare_product .swiper {
  width: 100%;
  /* aspect-ratio: 0.945; */
}

.product_compare .product_compare_product .swiper img {
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
  object-fit: contain;
  object-position: center center;
}

.product_compare .product_compare_item_color {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.8rem 0 2rem;
  border-bottom: 0.1rem solid #D8D8D8;
}

.product_compare .product_compare_item_color_circle {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0px 0.1rem rgba(0, 0, 0, .1);
  position: relative;
  overflow: hidden;
}

.product_compare .product_compare_item_color_circle_none::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 0.2rem;
  background-color: red;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: center;
}

.product_compare .product_compare_item_price {
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 1.6rem;
}

.product_compare .product_compare_product_shop_now {
  height: 3.6rem;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0 0.8rem;
  background-color: #BDFF00;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 3rem;
}

.product_compare .product_compare_product_card {
  padding-top: 6rem;
}

.product_compare .product_compare_product_head {
  color: #1F1F1F;
  white-space: nowrap;
  opacity: 0;
}

.product_compare .product_compare_product_body {
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 0.1rem solid #E2DED6;
}

.product_compare .product_compare_product_label {
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
}

.product_compare .product_compare_product_contain {
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 0.8rem;
}

.product_compare .product_compare_product_showtitle .product_compare_product_head {
  opacity: 1;
}

.product_compare .product_compare_contain_other {
  display: none;
}
@media (max-width: 1024px) {
.product_compare .product_compare_select {
  height: 4.5rem;
  font-size: 2rem;
}
.product_compare .product_compare_product_contain{
  font-size: 1.8rem;
}
}