.product_comment_section {
  width: 100%;
  background-color: #F2F1ED;
  padding-top: 12rem;
}

.product_comment {
  max-width: 144rem;
  margin: 0 auto;
}

.product_comment .product_comment_title {
  color: #1F1F1F;
  margin-bottom: 6rem;
}