.img_with_text_simplicity {
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
}

.img_with_text_simplicity .img_with_text_simplicity_subtitle {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-bottom: 0.8rem;
}

.img_with_text_simplicity .img_with_text_simplicity_title {
  text-transform: capitalize;
}

.img_with_text_simplicity .img_with_text_simplicity_desc {
  margin-top: 3rem;
}

.img_with_text_simplicity .img_with_text_simplicity_info {
  flex: 1;
}

.img_with_text_simplicity .img_with_text_simplicity_filebox {
  position: relative;
  /* height: 72rem;
  margin-top: 3rem; */
}

.img_with_text_simplicity .img_with_text_simplicity_filebox_video,
.img_with_text_simplicity .img_with_text_simplicity_filebox_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

/* 防止视频悬停时变暗 - 隐藏浏览器默认的控件遮罩 */
.img_with_text_simplicity .img_with_text_simplicity_filebox_video:hover {
  filter: none;
  opacity: 1;
}

/* 隐藏视频控件的遮罩层 */
.img_with_text_simplicity .img_with_text_simplicity_filebox_video::-webkit-media-controls-overlay-play-button {
  display: none;
}

.img_with_text_simplicity .img_with_text_simplicity_filebox_video::-webkit-media-controls-overlay-enclosure {
  display: none;
}

/* 确保视频在暂停和悬停时不会变暗 */
.img_with_text_simplicity .img_with_text_simplicity_filebox_video::-webkit-media-controls-panel {
  background: transparent;
}

/* 隐藏视频控件的背景遮罩 */
.img_with_text_simplicity .img_with_text_simplicity_filebox_video::-webkit-media-controls-enclosure {
  background: transparent;
}

.img_with_text_simplicity_left {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.img_with_text_simplicity_left .img_with_text_simplicity_filebox,
.img_with_text_simplicity_right .img_with_text_simplicity_filebox {
  width: 50%;
  flex: 0 0 auto;
  margin: 0;
}

.img_with_text_simplicity_right {
  display: flex;
  align-items: center;
}

.img_with_text_simplicity_right .img_with_text_simplicity_info {
  padding-right: 2rem;
}

.img_with_text_simplicity_left .img_with_text_simplicity_info {
  padding-left: 6rem;
}

.img_with_text_simplicity .img_with_text_simplicity_append {
  margin-top: 6rem;
}

.img_with_text_simplicity .img_with_text_simplicity_append_title {
  font-family: "PP Right Grotesk";
  font-size: 4rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.img_with_text_simplicity .img_with_text_simplicity_append_desc {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 3rem;
}
.img_with_text_simplicity .nd-btn{margin-top: 60px;}
.img_with_text_simplicity_desc ul{padding-left: 1.4rem;}

@media screen and (max-width: 768px) {
  .img_with_text_simplicity .nd-btn{margin-top: 30px;}
  .img_with_text_simplicity {
    max-width: 100vw;
    /* padding: 0 5.33vw !important; */
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 2rem;
  }
  .img_with_text_simplicity_left .img_with_text_simplicity_info {
    padding-left:0rem;
  } 

  .img_with_text_simplicity .img_with_text_simplicity_subtitle {
    font-size: 16px;
  }

  .img_with_text_simplicity .img_with_text_simplicity_title {
    margin-top: 1.067vw;
  }

  .img_with_text_simplicity .img_with_text_simplicity_filebox {
    height: auto;
    margin-top: 3.2vw;
    /* border-radius: 3.2vw; */
  }

  .img_with_text_simplicity_left .img_with_text_simplicity_filebox,
  .img_with_text_simplicity_right .img_with_text_simplicity_filebox {
    width: 100%;
    height: auto;
  }

  #sturdy_stable .img_with_text_simplicity .img_with_text_simplicity_title,
  #sturdy_stable .img_with_text_simplicity .img_with_text_simplicity_desc {
    width: 100%;
  }

  #sturdy_stable .img_with_text_simplicity .img_with_text_simplicity_info {
    height: auto;
    width: 100%;
  }

  #sturdy_stable .img_with_text_simplicity .img_with_text_simplicity_filebox {
    /* height: 66.67vw; */
    height: auto;
    width: 100%;
    background-color: transparent;
    position: relative;
  }

  #work_smarter .img_with_text_simplicity_filebox {
    /* height: 66.67vw; */
    height: auto;
    width: 100%;
    background-color: #000;
  }

  #work_smarter .img_with_text_simplicity_filebox_image {
    object-fit: contain;
  }

  #work_smarter .img_with_text_simplicity_info {
    position: relative;
    width: 100%;
    left: 0;
  }
}