.bundle_simple_section {
  width: 100%;
  padding-top: 12rem;
  background-color: #f2f1ed;
}

.bundle_simple {
  max-width: 144rem;
  margin: 0 auto;
}

.bundle_simple .bundle_simple_title {
  text-transform: capitalize;
  color: #1F1F1F;
}

.bundle_simple .bundle_simple_text {
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 3rem;
}

.bundle_simple .bundle_simple_contain {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.bundle_simple .bundle_simple_contain_left {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem 1.4rem;
}

.bundle_simple .bundle_simple_contain_right {
  flex: 0 0 auto;
  width: 34.8rem;
  position: sticky;
  top: 0;
}

.bundle_simple .bundle_simple_box_head {
  width: 17.4rem;
  height: 6rem;
  background-color: #BDFF00;
  display: inline-flex;
  align-items: center;
  padding-left: 2rem;
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #000000;
  position: relative;
}

.bundle_simple .bundle_simple_box_head::before {
  content: "";
  width: 17.4rem;
  height: 2rem;
  background-color: #BDFF00;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
}

.bundle_simple .bundle_simple_box_body {
  width: 100%;
  background-color: #fff;
  padding: 0.8rem 1.8rem 1.8rem;
}

.bundle_simple .bundle_simple_box_body_text {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-bottom: 0.8rem;
}

.bundle_simple .bundle_simple_box_body_price {
  padding-top: 1.7rem;
  border-top: 0.1rem solid #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #3D3D3D;
}

.bundle_simple .bundle_simple_box_body_btn {
  width: 100%;
  height: 6.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: #7F7E75;
  font-family: PP Right Grotesk;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #BDFF00;
  cursor: pointer;
  margin-top: 0.9rem;
}

.bundle_simple .bundle_simple_box_body_btn svg path {
  fill: #BDFF00;
}

.bundle_simple .bundle_simple_product {
  width: calc((100% - 2.8rem) / 3);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.bundle_simple .bundle_simple_product_img {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background: #FAFAFA;
}

.bundle_simple .bundle_simple_product_img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: contain;
  object-position: center center;
}

.bundle_simple .bundle_simple_product_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.4rem 0.9rem 1.4rem 1.4rem;
  flex: 1;
  gap: 1.4rem;
}

.bundle_simple .bundle_simple_product_btn {
  width: 100%;
  height: 36px;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #BDFF00;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  cursor: pointer;
}

.bundle_simple .bundle_simple_product_title,
.bundle_simple .bundle_simple_product_price {
  color: #1F1F1F;
}
.bundle_simple .bundle_simple_product_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}


.bundle_simple .bundle_simple_product_price {
  text-align: left;
  margin-top: 1.4rem;
}

.bundle_simple .bundle_simple_option_item {
  margin-top: 1rem;
}

.bundle_simple .bundle_simple_option_item+.bundle_simple_option_item {
  display: none;
}

.bundle_simple .bundle_simple_product:hover .bundle_simple_option_item+.bundle_simple_option_item {
  display: block;
}

.bundle_simple .bundle_simple_option_label {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.bundle_simple .bundle_simple_option_select {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 0.8rem;
}

.bundle_simple .bundle_simple_option_select[select-type="box"] .bundle_simple_option_select_item {
  height: 2.8rem;
  padding: 0 2.4rem;
  display: flex;
  align-items: center;
  border: 0.1rem solid #E2DED6;
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  cursor: pointer;
}

.bundle_simple .bundle_simple_option_select[select-type="box"] .bundle_simple_option_select_item_select {
  border-color: #BDFF00;
}

.bundle_simple .bundle_simple_option_select[select-type="circle"] .bundle_simple_option_select_item {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: 0.1rem solid #7F7E75;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.bundle_simple .bundle_simple_option_select[select-type="circle"] .bundle_simple_option_select_item_none::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 0.2rem;
  background-color: red;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: center;
}

.bundle_simple .bundle_simple_option_select[select-type="circle"] .bundle_simple_option_select_item_select {
  border: 0.2rem solid #BDFF00;
}

.bundle_simple .bundle_simple_box_body_list_item {
  width: 100%;
  background-color: #FAFAFA;
  margin-bottom: 1rem;
  padding: 0.6rem;
  display: flex;
  align-items: flex-start;
  gap: 0.4rem;
}

.bundle_simple .bundle_simple_box_body_list_item img {
  width: 9.4rem;
  height: 9.4rem;
  background-color: #fff;
  object-fit: contain;
  object-position: center center;
}

.bundle_simple .bundle_simple_box_body_list_item_right {
  flex: 0 0 auto;
  width: calc(100% - 9.8rem);
}

.bundle_simple .bundle_simple_box_body_list_item_right_head {
  display: flex;
  align-items: flex-start;
  padding-top: 0.4rem;
  gap: 0.4rem;
}

.bundle_simple .bundle_simple_box_body_list_item_product_title {
  color: #1F1F1F;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.bundle_simple .bundle_simple_box_body_list_item_product_option,
.bundle_simple .bundle_simple_box_body_list_item_product_price,
.bundle_simple .bundle_simple_box_body_list_item_btn {
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
}

.bundle_simple .bundle_simple_box_body_list_item_right_footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 2rem;
}

.bundle_simple .bundle_simple_box_body_list_item_btn {
  text-decoration: underline;
  cursor: pointer;
}

.bundle_simple .bundle_simple_box_body_list_item_right_head_left {
  flex: 0 0 auto;
  width: calc(100% - 7.6rem);
}

.bundle_simple .bundle_simple_box_body_list_item_input_box {
  flex: 0 0 auto;
  width: 7.2rem;
  height: 3.2rem;
  background-color: #FFFFFF;
  position: relative;
}

.bundle_simple .bundle_simple_box_body_list_item_input_up,
.bundle_simple .bundle_simple_box_body_list_item_input_down {
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.bundle_simple .bundle_simple_box_body_list_item_input_up {
  top: 0.3rem;
}

.bundle_simple .bundle_simple_box_body_list_item_input_down {
  bottom: 0.6rem;
}

.bundle_simple .bundle_simple_box_body_list_item_input_up svg,
.bundle_simple .bundle_simple_box_body_list_item_input_down svg {
  position: absolute;
}

.bundle_simple .bundle_simple_box_body_list_item_input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 12px;
}

@media screen and (max-width: 1024px) {
  .bundle_simple .bundle_simple_product {
    width: 100%;
}
}