.maidesite_swiper_section {
  width: 100%;
  padding-top: 12rem;
  background-color: #FAFAFA;
  overflow: hidden;
}

.maidesite_swiper {
  max-width: 144rem;
  margin: 0 auto;
}

.maidesite_swiper .maidesite_swiper_title {
  color: #1F1F1F;
}

.maidesite_swiper .maidesite_swiper_text {
  color: #7F7E75;
  margin-top: 3rem;
}

.maidesite_swiper .maidesite_swiper_image_contain {
  position: relative;
}

.maidesite_swiper .maidesite_swiper_image {
  width: 100%;
  margin-top: 6rem;
}

.maidesite_swiper .maidesite_swiper_desc {
  width: 100%;
  margin-top: 3.2rem;
  padding-bottom: 9rem;
  border-bottom: 0.2rem solid #E2DED6;
}

.maidesite_swiper .maidesite_swiper_image .swiper-slide {
  width: calc((100% - 72) / 4);
  height: 6.6rem;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.8rem;
}

.maidesite_swiper .maidesite_swiper_image .swiper-slide-active::before {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #BDFF00;
  position: absolute;
  bottom: -1.8rem;
}

.maidesite_swiper .maidesite_swiper_image .swiper-slide img {
  max-width: 20rem;
  width: 90%;
  height: 5rem;
  object-fit: contain;
  object-position: center center;
}

.maidesite_swiper .maidesite_swiper_prev,
.maidesite_swiper .maidesite_swiper_next {
  width: 6.6rem;
  height: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 0;
  cursor: pointer;
}

.maidesite_swiper .maidesite_swiper_prev {
  left: -8.1rem;
}

.maidesite_swiper .maidesite_swiper_next {
  right: -8.1rem;
}

.maidesite_swiper .maidesite_swiper_desc .swiper-slide {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  padding: 0 25%;
}
@media only screen and (max-width: 767px) {
.maidesite_swiper .maidesite_swiper_desc .swiper-slide {
  padding: 0 10%;
}
}