.video_simplicity_section {
  width: 100%;
  background-color: #f2f1ed;
}

.video_simplicity {
  max-width: 144rem;
  margin: 0 auto;
}

.video_simplicity .video_simplicity_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.video_simplicity .video_simplicity_contain {
  position: relative;
  width: 100%;
  height: 81rem;
}

.video_simplicity .video_simplicity_contain::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2);
  position: absolute;
  bottom: 0;
  left: 0;
}

.video_simplicity .video_simplicity_playicon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  z-index: 1;
  width: 13.2vw;
  height: 13.2vw;
}

.video_simplicity .video_simplicity_playicon svg {
  width: 100%;
  height: 100%;
}

.video_simplicity .video_simplicity_info {
  font-family: "PP Right Grotesk";
  font-size: 6rem;
  font-weight: 500;
  line-height: 94%;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.video_simplicity .video_simplicity_info p {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  .video_simplicity {
    max-width: 100vw;
    height: auto;
  }

  .video_simplicity .video_simplicity_playicon {
    width: 12.267vw;
    height: 12.267vw;
  }

  .video_simplicity .video_simplicity_info {
    position: absolute;
    top: auto;
    bottom: 5vw;
    font-size: 15px;
    width: 70.93vw;
  }

  .video_simplicity .video_simplicity_info p {
    margin-top: 0px;
    font-size: 10px;
  }

  .video_simplicity .video_simplicity_video {
    aspect-ratio: 16 / 9;
  }
}