.header_menu_section {
  width: 100%;
  height: 3.6rem;
  background-color: #fff;
}

.header_menu_section .header_menu {
  max-width: var(--page-width);
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 0.7rem;
}

.header_menu .header_menu_item {
  flex: 0 0 auto;
}

.header_menu .header_menu_item_title {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #000000;
}

.header_menu .header_menu_item_title_active,
.header_menu .header_menu_item:hover .header_menu_item_title {
  text-decoration: underline;
  text-decoration-color: #BDFF00;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.7rem;
}

.header_menu .header_menu_item[data-type="link_list"] {
  position: relative;
}

.header_menu .header_menu_item[data-type="link_list"] .header_menu_item_submenu {
  min-width: 21.7rem;
  background-color: #F2F1ED;
  padding: 0.5rem 1.3rem 1rem 2.4rem;
  position: absolute;
  left: 50%;
  visibility: hidden;
  transform: translateX(-50%) translateY(-10px);
  opacity: 0;
  transition: transform .3s, opacity .2s, visibility .3s;
}

.header_menu .header_menu_item[data-type="link_list"]:hover .header_menu_item_submenu {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.header_menu .header_menu_item[data-type="link_list"] .header_menu_item_submenu_item {
  font-family: "PP Right Grotesk";
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 350%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  display: block;
}

.header_menu .header_menu_item[data-type="link_list"] .header_menu_item_submenu_item_active,
.header_menu .header_menu_item[data-type="link_list"] .header_menu_item_submenu_item:hover {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #BDFF00;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.6rem;
}

.header_menu .header_menu_item[data-type="img_width_text"] .header_menu_item_submenu {
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #F2F1ED;
  padding-top: 3rem;
  padding-bottom: 4.5rem;
  visibility: hidden;
  transform: translateY(-10px);
  opacity: 0;
  transition: transform .3s, opacity .2s, visibility .3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.header_menu .header_menu_item[data-type="img_width_text"]:hover .header_menu_item_submenu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.header_menu .header_menu_item[data-type="img_width_text"] .header_menu_item_submenu_contain {
  max-width: var(--page-width);
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 3rem;
}

.header_menu .header_menu_item[data-type="img_width_text"] .header_menu_item_submenu_item {
  display: block;
  flex: 0 0 auto;
  width: calc((100% - 6rem) / 3);
}

.header_menu .header_menu_item[data-type="img_width_text"] .header_menu_item_submenu_item_img {
  width: 100%;
  height: 28rem;
  overflow: hidden;
  position: relative;
}

.header_menu .header_menu_item[data-type="img_width_text"] .header_menu_item_submenu_item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: transform .3s ease-in-out;
}

.header_menu .header_menu_item[data-type="img_width_text"] .header_menu_item_submenu_item_img svg {
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
  display: none;
}

.header_menu .header_menu_item[data-type="img_width_text"] .header_menu_item_submenu_item_title {
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 2rem;
}

.header_menu .header_menu_item[data-type="img_width_text"] .header_menu_item_submenu_item_desc {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: 200;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  font-feature-settings: "kern" on;
  color: #3D3D3D;
  margin-top: 0.8rem;
}

.header_menu .header_menu_item[data-type="img_width_text"] .header_menu_item_submenu_item:hover .header_menu_item_submenu_item_img img {
  transform: scale(1.2);
}

.header_menu .header_menu_item[data-type="img_width_text"] .header_menu_item_submenu_item:hover .header_menu_item_submenu_item_img svg {
  display: block;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu {
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #F2F1ED;
  padding-top: 7rem;
  padding-bottom: 5rem;
  visibility: hidden;
  transform: translateY(-10px);
  opacity: 0;
  transition: transform .3s, opacity .2s, visibility .3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.header_menu .header_menu_item[data-type="product_collection"]:hover .header_menu_item_submenu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_contain {
  max-width: var(--page-width);
  margin: 0 auto;
  display: flex;
  align-items: stretch;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_contain_left {
  flex: 0 0 auto;
  width: 22.8rem;
  padding: 0 3rem 0 0.8rem;
  border-right: 0.1rem solid #E2DED6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_item {
  font-family: "PP Right Grotesk";
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  display: block;
  padding: 1.8rem 0;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_item_active,
.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_item:hover {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #BDFF00;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.6rem;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_info {
  padding: 3rem 0 2.4rem 0;
  border-top: 0.1rem solid #E2DED6;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_info_title {
  font-family: "PP Right Grotesk";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #000000;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_info_desc {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  margin-top: 1.2rem;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_info_desc a {
  text-decoration: underline;
  color: #7F7E75;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_info_desc a:hover {
  color: #000000;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_tabhead {
  margin-top: -2rem;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_contain_right {
  flex: 0 0 auto;
  width: calc(100% - 22.8rem);
  position: relative;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_tabcontent {
  display: none;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_tabcontent.show {
  display: block;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_tabcontent .swiper {
  width: calc(100% - 106px);
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_tabcontent .swiper-slide {
  flex: 0 0 auto;
  width: calc((100% - 16.6rem) / 3);
  display: flex;
  flex-direction: column;
  height: auto;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_product_img {
  position: relative;
  width: 100%;
  /* height: 33rem; */
  background-color: #FAFAFA;
  overflow: hidden;
  padding-bottom: 3rem;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_product_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  transition: all .3s ease;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_product_tag {
  padding: 0.6rem;
  font-family: "PP Right Grotesk";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 80%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  background-color: #FF7500;
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_product_info {
  position: relative;
  min-height: 12.5rem;
  background-color: #7F7E75;
  padding: 0 1.2rem 1.2rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  transition: all .3s ease;

}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_product_info::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 3.6rem;
  background-color: #7F7E75;
  left: 0;
  transform: translateY(-100%);
  transition: all .3s ease;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_product_title {
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  margin-top: -2.4rem;
  position: relative;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_product_desc {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  margin-top: 1.2rem;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_product_price {
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  margin-top: 0.8rem;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_swiper_prev,
.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_swiper_next {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_swiper_prev {
  left: 1.5rem;
}

.header_menu .header_menu_item[data-type="product_collection"] .header_menu_item_submenu_swiper_next {
  right: 0;
}

/* new fxy */
.header_menu .header_menu_item[data-type="product_collection"] a.swiper-slide:hover .header_menu_item_submenu_product_info,
.header_menu .header_menu_item[data-type="product_collection"] a.swiper-slide:hover .header_menu_item_submenu_product_info::before {
  background-color: #BDFF00;
}

.header_menu .header_menu_item[data-type="product_collection"] a.swiper-slide:hover .header_menu_item_submenu_product_title,
.header_menu .header_menu_item[data-type="product_collection"] a.swiper-slide:hover .header_menu_item_submenu_product_desc,
.header_menu .header_menu_item[data-type="product_collection"] a.swiper-slide:hover .header_menu_item_submenu_product_price,
.header_menu .header_menu_item[data-type="product_collection"] a.swiper-slide:hover .product_rating span {
  color: #1a1a1a;
}

.header_menu .header_menu_item[data-type=product_collection] a.swiper-slide:hover .header_menu_item_submenu_product_img img {
  transform: scale(1.1);
}

.header_menu_mobile {
  display: none;
}

.header_menu_mobile .header_menu_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.6rem;
}

.header_menu_mobile .header_menu_item_title {
  font-family: PP Right Grotesk;
  font-size: 2rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #000;
}

.header_menu_mobile .header_menu_item_icon {
  width: 1rem;
  display: flex;
}

.header_menu_mobile .header_menu_item_icon svg {
  width: 100%;
}

.header_menu_mobile .header_menu_item_submenu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 16.6rem 2rem 1.6rem;
  overflow: auto;
}

.header_menu_mobile .header_menu_item_submenu_title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: PP Right Grotesk;
  font-size: 2rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #000;
  height: 5.6rem;
  border-bottom: 0.1rem solid rgba(7, 7, 7, .2);
  padding-left: 0.4rem;
}

.header_menu_mobile .header_menu_item_submenu_title svg {
  width: 1rem;
}

.header_menu_mobile .header_menu_item[data-type=link_list] .header_menu_item_submenu_item {
  height: 5.6rem;
  display: flex;
  align-items: center;
  font-family: PP Right Grotesk;
  font-size: 2rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #000;
  padding-left: 1rem;
}

.header_menu_mobile .header_menu_item[data-type=img_width_text] .header_menu_item_submenu_contain {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.header_menu_mobile .header_menu_item[data-type=img_width_text] .header_menu_item_submenu_item {
  display: block;
  flex: 0 0 auto;
  width: 100%;
}

.header_menu_mobile .header_menu_item[data-type=img_width_text] .header_menu_item_submenu_item_img {
  width: 100%;
  height: 28rem;
  overflow: hidden;
  position: relative;
}

.header_menu_mobile .header_menu_item[data-type=img_width_text] .header_menu_item_submenu_item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: transform .3s ease-in-out;
}

.header_menu_mobile .header_menu_item[data-type=img_width_text] .header_menu_item_submenu_item_title {
  font-family: PP Right Grotesk;
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1f1f1f;
  margin-top: 2rem;
}

.header_menu_mobile .header_menu_item[data-type=img_width_text] .header_menu_item_submenu_item_desc {
  font-family: PP Right Grotesk;
  font-size: 2rem;
  font-weight: 200;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  font-feature-settings: "kern" on;
  color: #3d3d3d;
  margin-top: .8rem;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_contain {
  margin-top: 2rem;
  display: flex;
  align-items: stretch;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_contain_left {
  flex: 0 0 auto;
  width: 12rem;
  padding: 0 1rem 0 .8rem;
  border-right: .1rem solid #E2DED6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_tabhead {
  margin-top: -1rem;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_item {
  font-family: PP Right Grotesk;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7f7e75;
  display: block;
  padding: 1rem 0;
  word-break: break-all;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_info {
  padding: 2rem 0 2.4rem;
  border-top: .1rem solid #E2DED6;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_info_title {
  font-family: PP Right Grotesk;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #000;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_info_desc {
  font-family: PP Right Grotesk;
  font-size: 2rem;
  font-weight: 400;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7f7e75;
  margin-top: 1.2rem;
  word-break: break-all;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_contain_right {
  flex: 0 0 auto;
  width: calc(100% - 12rem);
  position: relative;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_tabcontent {
  display: none;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_tabcontent.show {
  display: block;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_tabcontent .swiper {
  width: calc(100% - 2rem);
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_tabcontent .swiper-slide {
  flex: 0 0 auto;
  width: calc((100% - 16.6rem) / 3);
  display: flex;
  flex-direction: column;
  height: auto;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_product_img {
  position: relative;
  width: 100%;
  background-color: #fafafa;
  overflow: hidden;
  padding-bottom: 3rem;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_product_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  transition: all .3s ease;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_product_info {
  position: relative;
  min-height: 12.5rem;
  background-color: #7f7e75;
  padding: 0 1.2rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  transition: all .3s ease;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_product_tag {
  padding: .6rem;
  font-family: PP Right Grotesk;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 80%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #fff;
  background-color: #ff7500;
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_product_info:before {
  position: absolute;
  content: "";
  width: 50%;
  height: 3.6rem;
  background-color: #7f7e75;
  left: 0;
  transform: translateY(-100%);
  transition: all .3s ease;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_product_title {
  font-family: PP Right Grotesk;
  font-size: 2rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #fff;
  margin-top: -2.4rem;
  position: relative;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_product_desc {
  font-family: PP Right Grotesk;
  font-size: 2rem;
  font-weight: 400;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #fff;
  margin-top: 1.2rem;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_product_price {
  font-family: PP Right Grotesk;
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #fff;
  margin-top: .8rem;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_swiper_prev,
.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_swiper_next {
  display: none;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_item_active {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #bdff00;
  text-decoration-thickness: .2rem;
  text-underline-offset: .6rem;
}

.header_menu_mobile .header_menu_item[data-type=product_collection] .header_menu_item_submenu_item_viewall {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2rem;
  font-family: PP Right Grotesk;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #000;
  gap: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 1024px) {
  .header_menu_section {
    display: none;
  }

  .header_menu_mobile {
    position: fixed;
    width: 100%;
    height: 90vh;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 16.6rem 2rem 1.6rem;
    overflow: auto;
  }
}