.header_simple_section {
  width: 100%;
  height: 8rem;
  background-color: #fff;
  border-bottom: 0.2rem solid #999896;
}

.header_simple {
  max-width: var(--page-width);
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 2rem;
}

.header_simple_search {
  margin-left: 4.6rem;
  max-width: 92rem;
  flex: 1;
  position: relative;
}

.header_simple .search__input.field__input {
  height: 3.7rem;
  background-color: #F3F3F3;
  border: none;
  margin: 0;
  font-family: "PP Right Grotesk";
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 2.6rem;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1f1f1f;
  padding-left: 6.5rem;
}

.header_simple input::placeholder {
  color: #AAAAAA;
}

.header_simple input::-webkit-input-placeholder {
  color: #AAAAAA;
}

.header_simple input:-moz-placeholder {
  color: #AAAAAA;
}

.header_simple input::-moz-placeholder {
  color: #AAAAAA;
}

.header_simple input:-ms-input-placeholder {
  color: #AAAAAA;
}

.header_simple .field:after {
  box-shadow: none;
}

.header_simple .field__button.search__button {
  width: 2.4rem;
  height: 2.4rem;
  left: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
}

.header_simple .field__label,
.header_simple .field__input:not(:placeholder-shown)~.field__label {
  left: 6.5rem;
}

.header_simple .field__input:focus~.field__label {
  left: 6.5rem;
  top: 0.2rem;
  transform: none;
}

.header_simple .reset__button:not(:focus):after {
  border: none !important;
}

.header_simple .reset__button.field__button {
  width: 2.4rem;
  height: 2.4rem;
  right: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
}

.header_simple .header_simple_icon_box {
  margin-left: 2.4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 0.4rem;
}

.header_simple .header_simple_icon_item {
  width: 2.4rem;
  height: 2.4rem;
}

.header_simple .header_simple_logo {
  display: flex;
}