
.topic-text-img-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "big-top    big-top   big-top    big-top"
    "small-1    middle    middle     small-2"
    "small-3    middle    middle     small-4"
    "big-bottom big-bottom big-bottom big-bottom";
}

 
.topic-card--0 { grid-area: big-top;    }
.topic-card--1 { grid-area: big-bottom; }
.topic-card--2 { grid-area: small-1;    }
.topic-card--3 { grid-area: small-2;    }
.topic-card--4 { grid-area: small-3;    }
.topic-card--5 { grid-area: small-4;    }
.topic-card--6 { grid-area: middle;     }

 
.topic-card { position: relative; overflow: hidden; display: flex; background-color: #fff;}
.topic-card--box_big    { aspect-ratio: 4 / 1.3; }  
.topic-card--box_middle { aspect-ratio: 1 / 1; }  
.topic-card--box_small  { aspect-ratio: 1 / 1; }  

.topic-card__img_content::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.topic-card__img{
  width: 100%; height: 100%; object-fit: cover;
}

.topic-card__title {
  position: absolute; left: 50%; transform: translateX(-50%);z-index: 9;text-align: center;
}

.topic-card--title-top    .topic-card__title { top: 36px; }
.topic-card--title-bottom .topic-card__title { bottom: 36px; }

.topic-card--title-top .topic-card__img_content::after { background: linear-gradient(to top, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 100%); }
.topic-card--title-bottom .topic-card__img_content::after {   background: linear-gradient(to bottom, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%); }

/* ---------- <768px ---------- */
@media (max-width: 767px) {
  .topic-text-img-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "big-top"
      "middle"
      "small-1"
      "small-2"
      "small-3"
      "small-4"
      "big-bottom";
  }

  /* 16:9 */
  .topic-card--box_big { aspect-ratio: 16 / 9; }
}
