.faq_simple_section {
  width: 100%;
}

.faq_simple {
  max-width: 144rem;
  margin: 0 auto;
}

.faq_simple .faq_simple_heading {
  font-family: "PP Right Grotesk";
  font-size: 8rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.faq_simple .faq_simple_text {
  font-family: "PP Right Grotesk";
  font-size: 4rem;
  font-weight: 900;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 3rem;
}

.faq_simple .faq_simple_list {
  margin-top: 0.6rem;
}

.faq_simple .faq_simple_item {

  border-bottom: 0.1rem solid #D8D8D8;
}

.faq_simple .faq_simple_item_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5.4rem 0 4.7rem 0;
  cursor: pointer;
}

.faq_simple .faq_simple_question {
  font-family: "PP Right Grotesk";
  font-size: 4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.faq_simple .faq_simple_icon {
  width: 4rem;
  height: 4rem;
  display: flex;
}

.faq_simple .faq_simple_answer {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease,
    visibility 0.3s ease;
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.faq_simple .faq_simple_item.active .faq_simple_answer {
  padding-bottom: 4.7rem;
  max-height: 50rem;
  opacity: 1;
  visibility: visible;
}

.faq_simple .faq_simple_item .faq_simple_icon[data-type="open"],
.faq_simple .faq_simple_item.active .faq_simple_icon[data-type="close"] {
  display: none;
}

.faq_simple .faq_simple_item.active .faq_simple_icon[data-type="open"] {
  display: flex;
}

.faq_simple .faq_simple_more_btn {
  cursor: pointer;
}
.faq_contact_us{
  background-color: #7F7E75;
  color: #fff;
}
.faq_contact_us:hover{
  background-color: #BDFF00;
}
.faq_contact_us:hover,.faq_contact_us:hover svg path{
  color:#1F1F1F;
  fill: #1F1F1F;
}

.faq_simple .faq_simple_learnmore {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 0.1rem solid #7F7E75;
  padding-bottom: 0.7rem;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  margin-top: 6rem;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
  cursor: pointer;
}

.faq_simple .faq_simple_text_contain {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
@media only screen and (max-width: 1400px) {
  .faq_simple .faq_simple_heading {
    font-size: 6rem;
  }
  .faq_simple .faq_simple_question {
    font-size: 3rem;
  }
  .faq_simple .faq_simple_item_head {
    padding: 3rem 0 3rem 0;
  }
  .faq_simple .faq_simple_item.active .faq_simple_answer {
    padding-bottom: 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .faq_simple .faq_simple_heading {
    font-size: 4rem;
  }
  .faq_simple .faq_simple_question {
    font-size: 2rem;
  }
  .faq_simple .faq_simple_answer{
    font-size: 1.6rem;
  }
  .faq_simple .faq_simple_item_head {
    padding: 2rem 0 2rem 0;
  }
  .faq_simple .faq_simple_item.active .faq_simple_answer {
    padding-bottom: 2rem;
  }
  .faq_simple .faq_simple_text_contain {
    flex-direction: column;
}
}