.subscribe_emails_section {
  width: 100%;
  height: 10.6rem;
  background-color: #1F1F1F;
}

.subscribe_emails {
  max-width: var(--page-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid #7F7E75;
  height: 100%;
}

.subscribe_emails .subscribe_emails_title {
  font-family: "PP Right Grotesk";
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #BDFF00;
  flex: 0 0 auto;
  margin-right: 3rem;
}

.subscribe_emails .subscribe_emails_body {
  flex: 1;
  max-width: 87.4rem;
  display: flex;
  align-items: center;
}

.subscribe_emails .newsletter-form,
.subscribe_emails .newsletter-form__field-wrapper {
  max-width: 100%;
}

.subscribe_emails .field__input {
  height: 3.5rem;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin: 0;
  padding-right: 32.5rem;
}

.subscribe_emails .field:after {
  box-shadow: none;
}

.subscribe_emails .field__input:focus,
.subscribe_emails .field__input:not(:placeholder-shown) {
  padding: 1.5rem;
  padding-right: 32.5rem;
}

.subscribe_emails .newsletter-form__button {
  width: 31.1rem;
  background-color: #BDFF00;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.subscribe_emails .newsletter-form__button:not(:focus-visible):not(.focused) {
  background-color: #BDFF00;
}

.subscribe_emails .subscribe_emails_confirm {
  display: flex;
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
}

.subscribe_emails .subscribe_emails_confirm_checkbox {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.6rem;
}

.subscribe_emails .field__input::placeholder {
  opacity: 1;
}

.subscribe_emails .field__input::placeholder {
  color: #E2DED6;
}

.subscribe_emails .field__input::-webkit-input-placeholder {
  color: #E2DED6;
}

.subscribe_emails .field__input:-moz-placeholder {
  color: #E2DED6;
}

.subscribe_emails .field__input::-moz-placeholder {
  color: #E2DED6;
}

.subscribe_emails .field__input:-ms-input-placeholder {
  color: #E2DED6;
}