.celebrity_swiper {
  width: 100%;
  padding-top: 12rem;
  background-color: #FAFAFA;
  position: relative;
}

.celebrity_swiper .celebrity_swiper_title {
  font-family: "PP Right Grotesk";
  font-size: 6rem;
  font-weight: 500;
  line-height: 94%;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.celebrity_swiper .celebrity_swiper_text {
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 3rem;
}

.celebrity_swiper .swiper {
  margin-top: 6rem;
  padding-left: 12.5vw;
}

.celebrity_swiper .celebrity_swiper_item {
  flex: 1;
  height: 48rem;
  display: flex;
}

.celebrity_swiper .celebrity_swiper_item_left {
  flex: 0 0 auto;
  width: 32rem;
  padding: 6rem 1.8rem 2rem 2.4rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.celebrity_swiper .celebrity_swiper_item_name {
  font-family: "PP Right Grotesk";
  font-size: 4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.celebrity_swiper .celebrity_swiper_item_intro {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  margin-top: 1.2rem;
}

.celebrity_swiper .celebrity_swiper_item_desc {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 10.2rem;
}

.celebrity_swiper .celebrity_swiper_item_right {
  position: relative;
  flex: 0 0 auto;
  width: 48vw;
}

.celebrity_swiper .celebrity_swiper_item_right video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.celebrity_swiper .celebrity_swiper_item_playicon {
  width: 7rem;
  height: 7rem;
  position: absolute;
  bottom: 2.4rem;
  right: 3.4rem;
  z-index: 2;
  cursor: pointer;
}

.celebrity_swiper .celebrity_swiper_prev,
.celebrity_swiper .celebrity_swiper_next {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.celebrity_swiper .celebrity_swiper_prev {
  left: 3.90625vw;
}

.celebrity_swiper .celebrity_swiper_next {
  right: 3.90625vw;
}