.img_with_text_box_simplicity_section {
  width: 100%;
}

.img_with_text_box_simplicity {
  max-width: 144rem;
  margin: 0 auto;
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_maintitle {
  text-align: center;
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_title {
  margin-top: 3rem;
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_desc {
  color: #1F1F1F;
  margin-top: 1.6rem;
}
.img_with_text_box_simplicity .img_with_text_box_simplicity_desc ul{
  padding-left: 1.8rem;
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_filebox {
  position: relative;
  padding-bottom: 66.5%;
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_filebox_video,
.img_with_text_box_simplicity .img_with_text_box_simplicity_filebox_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_contain {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 6rem;
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_contain_item_2 {
  flex: 0 0 auto;
  width: calc((100% - 3rem) / 2);
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_contain_item_3 {
  flex: 0 0 auto;
  width: calc((100% - 6rem) / 3);
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_contain_item_4 {
  flex: 0 0 auto;
  width: calc((100% - 9rem) / 4);
}

.img_with_text_box_simplicity .img_with_text_box_simplicity_contain_item_5 {
  flex: 0 0 auto;
  width: calc((100% - 12rem) / 5);
}
@media only screen and (max-width: 1024px) {
  .img_with_text_box_simplicity .img_with_text_box_simplicity_contain_item_3,
  .img_with_text_box_simplicity .img_with_text_box_simplicity_contain_item_4,
  .img_with_text_box_simplicity .img_with_text_box_simplicity_contain_item_5{
    flex: 0 0 auto;
    width: calc((100% - 6rem) / 3);
  }
}
@media only screen and (max-width: 767px) {
  .img_with_text_box_simplicity .img_with_text_box_simplicity_contain {
    display: flex;
    flex-direction: column;
  }
  .img_with_text_box_simplicity .img_with_text_box_simplicity_contain_item_3,
  .img_with_text_box_simplicity .img_with_text_box_simplicity_contain_item_4,
  .img_with_text_box_simplicity .img_with_text_box_simplicity_contain_item_5{
    width: 100%;
  }
  .img_with_text_box_simplicity_info{
    padding-top:2rem;
  }
 
}