.section_banner {
  width: 100%;
}

.section_banner .swiper-slide img,
.section_banner .swiper-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.section_banner .swiper-slide_img_pc {
  display: block;
}

.section_banner .swiper-slide_img_pe {
  display: none;
}

.section_banner .section_banner_info {
  position: absolute;
  z-index: 9;
}
.section_banner_sub_title {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 400;
}
.section_banner .section_banner_info_title {
  color: #FFFFFF;
}

.section_banner .section_banner_info_text {
  color: #FFFFFF;
  margin-top: 3rem;
}

.section_banner .section_banner_info_btn {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  height: 6.7rem;
  padding: 0 2rem;
  color: #1F1F1F;
  margin-top: 6rem;
  background-color: #BDFF00;
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .section_banner .section_banner_info_btn {
    height: 5rem;
    margin-top: 4rem;
  }
  .section_banner .section_banner_info_text {
    margin-top: 2rem;
  }
}

.section_banner .session-box-padding{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.section_banner .session-box-inner{
  position: relative;
  height: 100%;
}
.section_banner .section_banner_info_top_left {
  left: 0vw;
  top: 6rem;
}

.section_banner .section_banner_info_top_center {
  left: 50%;
  transform: translateX(-50%);
  top: 6rem;
}

.section_banner .section_banner_info_top_right {
  right: 0vw;
  top: 6rem;
}

.section_banner .section_banner_info_middle_left {
  left: 0vw;
  top: 50%;
  transform: translateY(-50%);
}

.section_banner .section_banner_info_middle_center {
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
}

.section_banner .section_banner_info_middle_right {
  right: 0vw;
  top: 50%;
  transform: translateY(-50%);
}

.section_banner .section_banner_info_bottom_left {
  left: 0vw;
  bottom: 6rem;
}

.section_banner .section_banner_info_bottom_center {
  left: 50%;
  transform: translateX(-50%);
  bottom: 6rem;
}

.section_banner .section_banner_info_bottom_right {
  right: 0vw;
  bottom: 6rem;
}