.product_anchor_bar_section {
  width: 100%;
  height: 6rem;
  background-color: #fff;
  /* position: sticky;
  top: 0; */
}

.product_anchor_bar {
  max-width: 144rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.is_sticky .product_anchor_bar {
  border:none!important;
}

.product_anchor_bar .product_anchor_bar_left {
  display: flex;
  align-items: center;
  gap: 5vw;
  height: 100%;
}

.product_anchor_bar .product_anchor_bar_left_item {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  cursor: pointer;
  width: fit-content;
}

.product_anchor_bar .product_anchor_bar_left_item.active {
  color: #1F1F1F;
  border-bottom: 0.2rem solid #BDFF00;
}

.product_anchor_bar .product_anchor_bar_left_item:hover {
  color: #1F1F1F;
}

.product_anchor_bar .product_anchor_bar_btn {
  height: 3.6rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background: #BDFF00;
  padding: 0 0.8rem;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  cursor: pointer;
  transition: opacity .6s ease, color .6s ease, background-position .4s ease-out;
  border: none;
  margin: 0;
}

.product_anchor_bar .product_anchor_bar_btn[disabled] {
  opacity: .4;
  background-position: 0 100%;
  cursor: not-allowed;
}

@media screen and (max-width: 1440px) {
  .product_anchor_bar .product_anchor_bar_left_item,
  .product_anchor_bar .product_anchor_bar_btn {
    font-size: 1.8rem;
  }
  .product_anchor_bar .product_anchor_bar_left {
    overflow-x: auto;
  }
  .product_anchor_bar_section.padding-sider {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (max-width: 1024px) {
  .product_anchor_bar_section {
    padding-top: 0px;
  }
}
@media screen and (max-width: 767px) {
  .product_anchor_bar .product_anchor_bar_btn {
    display: none;
  }
  .product_anchor_bar_section.padding-sider {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}