.section_banner {
  width: 100%;
}

.section_banner .swiper-slide img,
.section_banner .swiper-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.section_banner .section_banner_info {
  position: absolute;
  z-index: 9;
}

.section_banner .section_banner_info_title {
  font-family: "PP Right Grotesk";
  font-size: 6rem;
  font-weight: 500;
  line-height: 94%;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
}

.section_banner .section_banner_info_text {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  margin-top: 3rem;
}

.section_banner .section_banner_info_btn {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  height: 6.7rem;
  padding: 0 2rem;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 6rem;
  background-color: #BDFF00;
  cursor: pointer;
}

.section_banner .section_banner_info_top_left {
  left: 12.5vw;
  top: 6rem;
}

.section_banner .section_banner_info_top_center {
  left: 50%;
  transform: translateX(-50%);
  top: 6rem;
}

.section_banner .section_banner_info_top_right {
  right: 12.5vw;
  top: 6rem;
}

.section_banner .section_banner_info_middle_left {
  left: 12.5vw;
  top: 50%;
  transform: translateY(-50%);
}

.section_banner .section_banner_info_middle_center {
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
}

.section_banner .section_banner_info_middle_right {
  right: 12.5vw;
  top: 50%;
  transform: translateY(-50%);
}

.section_banner .section_banner_info_bottom_left {
  left: 12.5vw;
  bottom: 6rem;
}

.section_banner .section_banner_info_bottom_center {
  left: 50%;
  transform: translateX(-50%);
  bottom: 6rem;
}

.section_banner .section_banner_info_bottom_right {
  right: 12.5vw;
  bottom: 6rem;
}