.polka_dot_swiper {
  width: 100%;
  background-color: #F2F1ED;
  position: relative;
}

.polka_dot_swiper .polka_dot_swiper_header {
  max-width: 144rem;
  margin: 0 auto;
}

.polka_dot_swiper .polka_dot_swiper_title {
  color: #1F1F1F;
}

.polka_dot_swiper .polka_dot_swiper_text {
  color: #1F1F1F;
  margin-top: 3rem;
}

.polka_dot_swiper .swiper {
  margin-top: 3rem;
  width: 100%;
}

.polka_dot_swiper .swiper-slide {
  max-width: 144rem;
  max-height: 70rem;
}

.polka_dot_swiper .swiper-slide::before {
  content: "";
  width: 100%;
  height: 18rem;
  background: linear-gradient(360deg, #000000 -2%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  bottom: 0;
}
.polka_dot_swiper.info_hidden .swiper-slide::before,.polka_dot_swiper.info_hidden .swiper-slide .polka_dot_swiper_info{
  display: none!important;
}

.polka_dot_swiper .polka_dot_swiper_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.polka_dot_swiper .polka_dot_swiper_info {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 3.3rem 3rem 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
}

.polka_dot_swiper .polka_dot_swiper_info_title {
  color: #FFFFFF;
}

.polka_dot_swiper .polka_dot_swiper_info_text {
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 1.5rem;
}

.polka_dot_swiper .polka_dot_swiper_info_btn {
  display: flex;
  gap: 0.8rem;
  color: #1F1F1F;
}

.polka_dot_swiper .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.polka_dot_swiper .swiper-pagination-bullet {
  width: 1.6rem;
  height: 1.6rem;
  background: #7F7E75;
  border-radius: 0;
  opacity: 1;
  margin: 0 0.8rem !important;
  border: 0.2rem solid #7F7E75;
  box-sizing: border-box;
}

.polka_dot_swiper .swiper-pagination-bullet-active {
  background: #BDFF00;
}

.polka_dot_swiper .polka_dot_swiper_contain {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: #BDFF00;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
}
.polka_dot_swiper .polka_dot_swiper_contain::before{
  content: "";
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  animation: pulse 2s infinite;
}

.polka_dot_swiper .polka_dot_swiper_product {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100%) translateY(100%);
  align-items: stretch;
  display: none;
}
.polka_dot_swiper .polka_dot_swiper_product.active {
  display: flex;
}

.polka_dot_swiper .polka_dot_swiper_product_img {
  background-color: #fff;
  width: 11.7rem;
  box-sizing: border-box;
  padding: 1.2rem 1.2rem 0.8rem 1.2rem;
  flex: 0 0 auto;
}

.polka_dot_swiper .polka_dot_swiper_product_img img {
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
  object-fit: contain;
  object-position: center center;
}

.polka_dot_swiper .polka_dot_swiper_product_info {
  padding: 1.6rem 0.8rem 0.8rem 0;
  background-color: #fff;
  width: 23rem;
  flex: 0 0 auto;
  min-height: 8.8rem;
  position: relative;
  left: -0.1rem;
  margin-top: 2.4rem;
}

.polka_dot_swiper .polka_dot_swiper_product_info_title {
  color: #000000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.polka_dot_swiper .polka_dot_swiper_product_info_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.2rem;
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .polka_dot_swiper .polka_dot_swiper_img {
      min-height: 40rem;
  }
  .polka_dot_swiper .polka_dot_swiper_product {
    right: 50%;
    bottom: 0;
    transform: translate(49%, 100%);
  }
  .polka_dot_swiper .polka_dot_swiper_product_info {
    width: 14rem;
  }
  .polka_dot_swiper .polka_dot_swiper_contain,.polka_dot_swiper .polka_dot_swiper_contain::before {
    width: 3rem;
    height: 3rem;
  }
  .polka_dot_swiper .polka_dot_swiper_contain svg{
    width: 1.4rem;
  }
  .polka_dot_swiper .polka_dot_swiper_info {
    flex-direction: column;
    align-items: flex-start;
}
}