.link_block {
  width: 100%;
  padding-top: 12rem;
  background-color: #F2F1ED;
}

.link_block .link_block_title {
  font-family: "PP Right Grotesk";
  font-size: 6rem;
  font-weight: 500;
  line-height: 94%;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.link_block .link_block_text {
  font-family: PP Right Grotesk;
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 3rem;
}

.link_block .link_block_contain {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem 3.2rem;
}

.link_block .link_block_contain_item {
  flex: 0 0 auto;
  width: calc((100% - 3.2rem) / 2);
  height: 43rem;
  position: relative;
}

.link_block .link_block_contain_item::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 52%, rgba(0, 0, 0, 0.73) 100%);
  position: absolute;
}

.link_block .link_block_contain_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: transform .4s ease-in-out;
}

.link_block .link_block_contain_item_info {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
}

.link_block .link_block_contain_item_info_title {
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
}

.link_block .link_block_contain_item_info_text {
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  margin-top: 2rem;
}

.link_block .link_block_contain_item_info_btn {
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #fff;
  padding: 0 0.8rem;
  margin-top: 4.6rem;
  font-family: PP Right Grotesk;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
}

.link_block .link_block_contain_item_info_btn svg path {
  fill: #7F7E75;
}

.link_block .link_block_contain_item:hover img {
  transform: scale(1.2);
}

.link_block .link_block_contain_item:hover .link_block_contain_item_info_btn {
  background-color: #BDFF00;
  color: #1F1F1F;
}

.link_block .link_block_contain_item:hover .link_block_contain_item_info_btn svg path {
  fill: #1F1F1F;
}