.collection_default_section {
  width: 100%;
  background-color: #f2f1ed;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.collection_default {
  max-width: 144rem;
  margin: 0 auto;
}

.collection_default .collection_default_title {
  color: #1F1F1F;
}

.collection_default .collection_default_text {
  color: #1F1F1F;
  margin-top: 3rem;
}

.collection_default .collection_default_head {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2.4rem;
  margin-top: 3rem;
}

.collection_default .collection_default_head_item {
  flex: 0 0 auto;
  width: calc((100% - 7.2rem) / 4);
  min-height: 3.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7F7E75;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  text-align: center;
}

.collection_default .collection_default_head_item:hover {
  background-color: #1F1F1F;
  color: #BDFF00;
}

.collection_default .collection_default_contain {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2.4rem;
  margin-top: 3.7rem;
}

.collection_default .collection_default_product {
  flex: 0 0 auto;
  width: calc((100% - 7.2rem) / 4);
  display: flex;
  flex-direction: column;
}

.collection_default .collection_default_product_img {
  width: 100%;
  /* height: 30.3rem; */
  aspect-ratio: 1.12;
  background-color: #FAFAFA;
  position: relative;
}

.collection_default .collection_default_product_img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  object-position: center center;
  transition: opacity 0.8s ease;
}

.collection_default .collection_default_product_img_second {
  opacity: 0;
}

.collection_default .collection_default_product_hoverchange:hover .collection_default_product_img_first {
  opacity: 0;
}

.collection_default .collection_default_product_hoverchange:hover .collection_default_product_img_second {
  opacity: 1;
}

.collection_default .collection_default_product_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.6rem;
  background-color: #fff;
  padding: 1.2rem 1.3rem;
}

.collection_default .collection_default_product_title {
  color: #1F1F1F;
}

.collection_default .product_rating {
  margin: 0;
  color: #7F7E75;
}

.collection_default .collection_default_product_price {
  display: flex;
  align-items: flex-end;
  gap: 0.9rem;
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 0.7rem;
}

.collection_default .collection_default_product_price_cap {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  text-decoration: line-through;
  color: #7F7E75;
}

.collection_default .collection_default_product_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1F1F1F;
  margin-top: 1.4rem;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .collection_default .collection_default_head_item {
    font-size: 2rem;
  }

  .collection_default .collection_default_contain {
    gap: 3rem;
  }

  .collection_default .collection_default_product {
    width: calc((100% - 6rem) / 3);
  }
}

@media screen and (max-width: 1200px) {
  .collection_default .collection_default_product_img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .collection_default .collection_default_contain {
    gap: 3rem;
  }

  .collection_default .collection_default_product {
    width: calc((100% - 3rem) / 2);
  }
}

@media screen and (max-width: 1200px) {
  .collection_default .collection_default_head_item {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .collection_default .collection_default_head_item {
    width: 100%;
  }

  .collection_default .collection_default_head {
    flex-direction: column;
  }

  .collection_default .collection_default_product {
    width: 100%;
  }
}