.section_banner {
  width: 100%;
}

.section_banner .swiper-slide img,
.section_banner .swiper-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.section_banner .swiper-slide_img_pc {
  display: block;
}

.section_banner .swiper-slide_img_pe {
  display: none;
}

.section_banner .section_banner_info {
  position: absolute;
  z-index: 9;
  display: flex;
  flex-direction: column;
}

.section_banner_sub_title {
  color: inherit;
  font-size: 1.6rem;
  font-weight: 400;
}

.section_banner .section_banner_info_title {
  color: inherit;
}

.section_banner .section_banner_info_text {
  color: inherit;
  margin-top: 3rem;
}

.section_banner .section_banner_info_btn {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  height: 6.7rem;
  padding: 0 2rem;
  color: #1F1F1F;
  margin-top: 6rem;
  background-color: #BDFF00;
  cursor: pointer;
}

.section_banner .session-box-padding {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.section_banner .session-box-inner {
  position: relative;
  height: 100%;
}
/* 文字位置 */
.section_banner .section_banner_info_top_left {
  left: 0vw;
  top: 6rem;
}

.section_banner .section_banner_info_top_center {
  left: 50%;
  transform: translateX(-50%);
  top: 6rem;
}

.section_banner .section_banner_info_top_right {
  right: 0vw;
  top: 6rem;
}

.section_banner .section_banner_info_middle_left {
  left: 0vw;
  top: 50%;
  transform: translateY(-50%);
}

.section_banner .section_banner_info_middle_center {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.section_banner .section_banner_info_middle_right {
  right: 0vw;
  top: 50%;
  transform: translateY(-50%);
}

.section_banner .section_banner_info_bottom_left {
  left: 0vw;
  bottom: 6rem;
}

.section_banner .section_banner_info_bottom_center {
  left: 50%;
  transform: translateX(-50%);
  bottom: 6rem;
}

.section_banner .section_banner_info_bottom_right {
  right: 0vw;
  bottom: 6rem;
}
/* 文字对齐 */
.section_banner .text-start{
  align-items: flex-start;
}
.section_banner .text-center{
  align-items: center;
  text-align: center;
}
.section_banner .text-end{
  align-items: flex-end;
  text-align: right;
}

.section_banner .section_banner_countdown_box {
  display: flex;
  align-items: center;
  font-family: "PP Right Grotesk";
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: inherit;
  gap: 0.6rem;
  margin-top: 3rem;
}

.section_banner .section_banner_countdown_box_text {
  margin-right: 1.8rem;
}

.section_banner .section_banner_countdown_box_item {
  width: 3.6rem;
  height: 3.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF7500;
}

/* 高度模式 */
.section_banner .swiper-wrapper img.screen-height{
  height: calc(100vh - 166px);
}

/* 播放组件 */
.slideshow-ctrl {
  z-index: 2;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  display: flex;
  position: absolute;
  color: var(--text-color);
  pointer-events: none;
}
.slideshow-ctrl.justify-start{
  justify-content: flex-start;
}
.slideshow-ctrl.justify-center{
  justify-content: center;
}
.slideshow-ctrl.justify-end{
  justify-content: flex-end;
}
.slideshow-pagination{
  display: flex;
  align-items: center;
}
@keyframes lineTimer {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes circleTimer {
  from {
    stroke-dashoffset: 22;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.slideshow-ctrl .page-btn {
  --animation: var(--duration, 0s) forwards linear var(--play-state, paused);
  /* margin: 5px 2px; */
  color: rgba(var(--text-color)/.2);
  /* pointer-events: initial; */
  cursor: pointer;
}
.slideshow-ctrl .page-btn__line {
  width: 32px;
  height: 2px;
  margin: 14px 6px;
  transition: background-color 0.3s, height 0.4s;
  border-radius: 0;
  background-color: currentColor;
  display: block;
  pointer-events: none;
  position: relative;
}
.slideshow-ctrl [data-autoplay=true] .page-btn__line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 0;
  background-color: rgb(var(--text-color));
}
[data-autoplay=true] [aria-current=true] > .page-btn__line {
  height: 3px;
}
[data-autoplay=true] [aria-current=true] > .page-btn__line::after {
  animation: var(--animation);
  animation-name: lineTimer;
}
.slideshow-ctrl .page-btn:hover > .page-btn__line,
[data-autoplay=false] [aria-current=true] > .page-btn__line {
  background-color: rgb(var(--text-color));
}
svg.page-btn__circle{
  width: 30px;
  height: 30px;
  fill: none;
  display: block;
  /* pointer-events: none; */
}
.slideshow-ctrl .page-btn__fg-circle {
  transform: rotate(-90deg);
  transform-origin: center;
  stroke-width: 7px;
  stroke-dasharray: 22;
  stroke-dashoffset: 22;
  stroke: rgb(var(--text-color));
}
.slideshow-ctrl [data-autoplay=true] [aria-current=true] .page-btn__fg-circle {
  animation: var(--animation);
  animation-name: circleTimer;
}
.slideshow-ctrl .page-btn__bg-circle {
  transition: stroke 0.2s, fill 0.2s;
  stroke-width: 2px;
  stroke: currentColor;
  fill: transparent;
}
.slideshow-ctrl .page-btn:hover .page-btn__bg-circle,
.slideshow-ctrl [data-autoplay=false] [aria-current=true] .page-btn__bg-circle {
  stroke: rgb(var(--text-color));
  fill: rgb(var(--text-color));
}

.slideshow-ctrl .slideshow-nav{
  display: flex;
  align-items: center;
  color: rgb(var(--text-color));
}
.slideshow-ctrl .slideshow-nav__btn {
  padding: 3px;
  transition: background-color .3s,color .3s;
  color: rgb(var(--text-color));
  cursor: pointer;
  }
.slideshow-ctrl .slideshow-nav__btn:hover {
  background-color: rgb(var(--text-color));
  color: #333;
  }
.slideshow-nav__autoplay{
  margin-inline-start: 12px;
  display: flex;
  align-items: center;
}
.slideshow-ctrl .slideshow-nav__autoplay:before {
  content: "";
  width: 1px;
  height: 24px;
  margin-inline-end: 8px;
  background-color: rgb(var(--text-color));
  }
.autoplay-btn.is-paused .pause-icon, .autoplay-btn:not(.is-paused) .play-icon {
  display: none;
}
.block{
  display: block;
}
.pointer-events-none{
  pointer-events: none;
}
.autoplay-btn .icon {
  display: block;
  width: 24px;
  height: 24px;
  padding: 4px;
}
.icon {
  vertical-align: top;
  pointer-events: none;
}

@media screen and (max-width: 1440px) {
  .section_banner .section_banner_info_btn {
    height: 4rem;
    margin-top: 3rem;
  }

  .section_banner .section_banner_info_text {
    margin-top: 1rem;
  }
  .section_banner .section_banner_countdown_box{
    font-size: 1.6rem;
    margin-top: 1.4rem;
  }
  .section_banner .section_banner_countdown_box_item{
    width: 2.4rem;
    height: 2.4rem;
  }

  .section_banner .swiper-wrapper.screen-height{
    height: calc(100vh - 130px);
  }
}

@media screen and (max-width: 768px) {
  .section_banner .swiper-slide img,
  .section_banner .swiper-slide video {
    min-height: 30rem;
  }

}