.utility-bar {
  height: 5rem;
  background-color: #7F7E75;
}

.announcement_bar_text {
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #BDFF00;
}