.compare_simple {
  width: 100%;
  padding: 12rem 9.895833vw 0;
  background-color: #F2F1ED;
}

.compare_simple .compare_simple_contain {
  width: 100%;
  background-color: #fff;
  padding: 5.4rem 2.8rem 6rem 5rem;
}

.compare_simple .compare_simple_contain_head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.compare_simple .compare_simple_contain_head_title {
  font-family: "PP Right Grotesk";
  font-size: 6rem;
  font-weight: 500;
  line-height: 94%;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
}

.compare_simple .compare_simple_contain_head_text {
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  margin-top: 3rem;
}

.compare_simple .compare_simple_contain_head_link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
}

.compare_simple .compare_simple_contain_head_link svg {
  width: 1.9rem;
  height: 2.4rem;
}

.compare_simple .compare_simple_contain_head_link svg path {
  fill: #7F7E75;
}

.compare_simple .compare_simple_contain_body {
  display: flex;
  align-items: stretch;
  gap: 1.2rem;
}