.activity_subscribe_section {
  width: 100%;
  background-color: #f2f1ed;
  padding-top: 12rem;
}

.activity_subscribe {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
}

.activity_subscribe .activity_subscribe_top_item {
  flex: 0 0 auto;
  width: calc((100% - 6rem) / 2);
  height: 33.6rem;
  background-color: #E2DED6;
  position: relative;
  padding: 2.6rem 3rem;
}

.activity_subscribe .activity_subscribe_top_item_title {
  font-family: PP Right Grotesk;
  font-size: 4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.activity_subscribe .activity_subscribe_top_item_text {
  font-family: PP Right Grotesk;
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 1.2rem;
}

.activity_subscribe .activity_subscribe_top_item_icon {
  position: absolute;
  right: 3.4rem;
  bottom: 3rem;
}

.activity_subscribe .activity_subscribe_bottom {
  flex: 0 0 auto;
  width: 100%;
  height: 64rem;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 9rem;
}

.activity_subscribe .activity_subscribe_bottom_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
}

.activity_subscribe .activity_subscribe_bottom_info {
  position: relative;
  z-index: 1;
}

.activity_subscribe .activity_subscribe_bottom_subtitle {
  font-family: PP Right Grotesk;
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
}

.activity_subscribe .activity_subscribe_bottom_title {
  font-family: PP Right Grotesk;
  font-size: 6rem;
  font-weight: 500;
  line-height: 94%;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  margin-top: 1.2rem;
}

.activity_subscribe .activity_subscribe_bottom_text {
  font-family: PP Right Grotesk;
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  margin-top: 3rem;
}

.activity_subscribe .activity_subscribe_bottom_form {
  margin-top: 6rem;
}