.header_menu_section {
  width: 100%;
  height: 3.6rem;
  background-color: #fff;
}

.header_menu_section .header_menu {
  max-width: var(--page-width);
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 0.7rem;
}

.header_menu .header_menu_item {
  flex: 0 0 auto;
}

.header_menu .header_menu_item_title {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #000000;
}

.header_menu .header_menu_item_title_active,
.header_menu .header_menu .header_menu_item:hover .header_menu_item_title {
  text-decoration: underline;
  text-decoration-color: #BDFF00;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.7rem;
}

.header_menu .header_menu_item[data-type="link_list"] {
  position: relative;
}

.header_menu .header_menu_item[data-type="link_list"] .header_menu_item_submenu {
  min-width: 21.7rem;
  background-color: #F2F1ED;
  padding: 0.5rem 1.3rem 1rem 2.4rem;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.header_menu .header_menu_item[data-type="link_list"] .header_menu_item_submenu_item {
  font-family: "PP Right Grotesk";
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 350%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  display: block;
}

.header_menu .header_menu_item[data-type="link_list"] .header_menu_item_submenu_item:hover {
  color: #000000;
}

.header_menu .header_menu_item[data-type="link_list"] .header_menu_item_submenu_item_active {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #BDFF00;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.6rem;
}