.boxgrid_simple_section {
  width: 100%;
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-color: #F2F1ED;
  box-sizing: border-box;
}

.boxgrid_simple {
  max-width: 144rem;
  margin: 0 auto;
}

.boxgrid_simple .boxgrid_simple_title {
  color: #1F1F1F;
}

.boxgrid_simple .boxgrid_simple_text {
  color: #1F1F1F;
  margin-top: 3rem;
}

.boxgrid_simple .boxgrid_simple_contain {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  gap: 2rem;
}

.boxgrid_simple .boxgrid_simple_item {
  flex: auto;
  width: calc((100% - 8rem) / 4);
  height: 25.4rem;
  background-color: #fff;
  padding: 1.5rem 2rem 0 2.4rem;
  position: relative;
}

.boxgrid_simple .boxgrid_simple_item.first_line {
  height: 34.5rem;
  padding-top: 2.5rem;
}

.boxgrid_simple .boxgrid_simple_item.active {
  background-color: #BDFF00;
  width: calc((100% - 2rem) / 2);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.boxgrid_simple .boxgrid_simple_item.active .boxgrid_simple_item_title,
.boxgrid_simple .boxgrid_simple_item.active .boxgrid_simple_item_text {
  width: 50%;
  text-align: center;
  min-width: 31rem;
}

.boxgrid_simple .boxgrid_simple_item_title {
  color: #1F1F1F;
}

.boxgrid_simple .boxgrid_simple_item_text {
  color: #1F1F1F;
  margin-top: 0.8rem;
}

.boxgrid_simple .boxgrid_simple_item svg {
  position: absolute;
  right: 3rem;
  bottom: 2.5rem;
}

@media screen and (max-width: 768px) {

  .boxgrid_simple .boxgrid_simple_item,
  .boxgrid_simple .boxgrid_simple_item.active {
    width: 100%;
  }

  .boxgrid_simple .boxgrid_simple_item.active {
    order: -1;
  }

  .boxgrid_simple .boxgrid_simple_item.first_line svg {
    width: 40px;
  }
}