.product_anchor_bar_section {
  width: 100%;
  height: 6rem;
  background-color: #fff;
  position: sticky;
  top: 0;
}

.product_anchor_bar {
  max-width: 144rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_anchor_bar .product_anchor_bar_left {
  display: flex;
  align-items: center;
  gap: 8.5rem;
  height: 100%;
}

.product_anchor_bar .product_anchor_bar_left_item {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  cursor: pointer;
}

.product_anchor_bar .product_anchor_bar_left_item.active {
  color: #1F1F1F;
  border-bottom: 0.2rem solid #BDFF00;
}

.product_anchor_bar .product_anchor_bar_btn {
  height: 3.6rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background: #BDFF00;
  padding: 0 0.8rem;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  cursor: pointer;
}