.collection_compare {
  width: 100%;
  background-color: #f2f1ed;
}

.collection_compare_banner {
  width: 100%;
  position: relative;
  height: 35rem;
}

.collection_compare_banner img,
.collection_compare_banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  z-index: 0;
}

.collection_compare_banner .collection_compare_banner_contain {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  position: relative;
  height: 100%;
}

.collection_compare_banner .collection_compare_banner_title {
  font-family: "PP Right Grotesk";
  font-size: 6rem;
  font-weight: 500;
  line-height: 94%;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.collection_compare_banner .collection_compare_banner_text {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 3rem;
}

.collection_compare_banner .collection_compare_banner_text a {
  color: #1F1F1F;
  text-decoration: underline;
}

.collection_compare_banner .collection_compare_banner_text a:hover {
  color: #7F7E75;
}

.collection_compare .collection_compare_contain {
  max-width: 144rem;
  margin: 0 auto;
  padding-top: 6rem;
}

.collection_compare .collection_compare_contain_head {
  display: flex;
  align-items: center;
  height: 8rem;
}

.collection_compare .collection_compare_contain_head_left {
  flex: 0 0 10.6rem;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  border-top: 0.1rem solid #7F7E75;
  border-right: 0.1rem solid #7F7E75;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #000000;
}

.collection_compare .collection_compare_contain_head_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid #7F7E75;
}

.collection_compare .collection_compare_contain_head_right .flex_center {
  display: flex;
  align-items: center;
}