.section_banner {
  width: 100%;
}

.section_banner .swiper-slide img,
.section_banner .swiper-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.section_banner .swiper-slide_img_pc {
  display: block;
}

.section_banner .swiper-slide_img_pe {
  display: none;
}

.section_banner .section_banner_info {
  position: absolute;
  z-index: 9;
  display: flex;
  flex-direction: column;
}

.section_banner_sub_title {
  /* color: #FFFFFF; */
  font-size: 1.6rem;
  font-weight: 400;
}

.section_banner .section_banner_info_title {
  /* color: #FFFFFF; */
}

.section_banner .section_banner_info_text {
  /* color: #FFFFFF; */
  margin-top: 3rem;
}

.section_banner .section_banner_info_btn {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  height: 6.7rem;
  padding: 0 2rem;
  color: #1F1F1F;
  margin-top: 6rem;
  background-color: #BDFF00;
  cursor: pointer;
}

.section_banner .session-box-padding {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.section_banner .session-box-inner {
  position: relative;
  height: 100%;
}
/* 文字位置 */
.section_banner .section_banner_info_top_left {
  left: 0vw;
  top: 6rem;
}

.section_banner .section_banner_info_top_center {
  left: 50%;
  transform: translateX(-50%);
  top: 6rem;
}

.section_banner .section_banner_info_top_right {
  right: 0vw;
  top: 6rem;
}

.section_banner .section_banner_info_middle_left {
  left: 0vw;
  top: 50%;
  transform: translateY(-50%);
}

.section_banner .section_banner_info_middle_center {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.section_banner .section_banner_info_middle_right {
  right: 0vw;
  top: 50%;
  transform: translateY(-50%);
}

.section_banner .section_banner_info_bottom_left {
  left: 0vw;
  bottom: 6rem;
}

.section_banner .section_banner_info_bottom_center {
  left: 50%;
  transform: translateX(-50%);
  bottom: 6rem;
}

.section_banner .section_banner_info_bottom_right {
  right: 0vw;
  bottom: 6rem;
}
/* 文字对齐 */
.section_banner .text-start{
  align-items: flex-start;
}
.section_banner .text-center{
  align-items: center;
  text-align: center;
}
.section_banner .text-end{
  align-items: flex-end;
  text-align: right;
}

.section_banner .section_banner_countdown_box {
  display: flex;
  align-items: center;
  font-family: "PP Right Grotesk";
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  /* color: #FFFFFF; */
  gap: 0.6rem;
  margin-top: 3rem;
}

.section_banner .section_banner_countdown_box_text {
  margin-right: 1.8rem;
}

.section_banner .section_banner_countdown_box_item {
  width: 3.6rem;
  height: 3.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF7500;
}

@media screen and (max-width: 1440px) {
  .section_banner .section_banner_info_btn {
    height: 4rem;
    margin-top: 3rem;
  }

  .section_banner .section_banner_info_text {
    margin-top: 1rem;
  }
  .section_banner .section_banner_countdown_box{
    font-size: 1.6rem;
    margin-top: 1.4rem;
  }
  .section_banner .section_banner_countdown_box_item{
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media screen and (max-width: 768px) {
  .section_banner .swiper-slide img,
  .section_banner .swiper-slide video {
    min-height: 30rem;
  }
}