.user_feedback {
  width: 100%;
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-color: #FAFAFA;
  position: relative;
}

.user_feedback .user_feedback_header {
  max-width: 144rem;
  margin: 0 auto;
}

.user_feedback .user_feedback_title {
  color: #1F1F1F;
}

.user_feedback .user_feedback_text {
  color: #1F1F1F;
  margin-top: 3rem;
}