.celebrity_swiper {
  width: 100%;
  background-color: #FAFAFA;
  position: relative;
}

.celebrity_swiper .celebrity_swiper_header {
  max-width: 144rem;
  margin: 0 auto;
}
.celebrity_swiper .swiper-wrapper{width: 140vw;}

.celebrity_swiper .celebrity_swiper_title {
  font-family: "PP Right Grotesk";
  font-size: 6rem;
  font-weight: 500;
  line-height: 94%;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.celebrity_swiper .celebrity_swiper_text {
  margin-top: 3rem;
}

.celebrity_swiper .swiper {
  margin-top: 6rem;
  padding-left: calc((100% - 144rem)/2);
}

.celebrity_swiper .celebrity_swiper_item {
  height: 48rem;
  display: flex;
}

.celebrity_swiper .celebrity_swiper_item_left {
  flex: 0 0 auto;
  width: 34%;
  padding: 6rem 1.8rem 2rem 2.4rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.celebrity_swiper .celebrity_swiper_item_name {
  font-family: "PP Right Grotesk";
  font-size: 4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.celebrity_swiper .celebrity_swiper_item_intro {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  margin-top: 1.2rem;
}

.celebrity_swiper .celebrity_swiper_item_desc {
  font-size: 1.8rem;
  color: #1F1F1F;
  flex-grow: 1;
  display: flex;
    flex-direction: column;
    justify-content: center;
}

.celebrity_swiper .celebrity_swiper_item_right {
  position: relative;
  flex: 0 0 auto;
  width: 66%;
  cursor: pointer;
}

.celebrity_swiper .celebrity_swiper_item_right video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.celebrity_swiper .celebrity_swiper_item_playicon {
  width: 7rem;
  height: 7rem;
  position: absolute;
  bottom: 2.4rem;
  right: 3.4rem;
  z-index: 2;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .celebrity_swiper .swiper-wrapper{width: 130vw;}
}
@media screen and (max-width: 1024px) {
.celebrity_swiper .celebrity_swiper_item {
  flex-direction: column;
  height: auto;
}
.celebrity_swiper .celebrity_swiper_item_left,.celebrity_swiper .celebrity_swiper_item_right{width: 100%;}
.celebrity_swiper .celebrity_swiper_item_desc{margin-top: 3rem;}
.celebrity_swiper .celebrity_swiper_item_right {
  height: 35rem;
}
}

/* .celebrity_swiper .celebrity_swiper_prev,
.celebrity_swiper .celebrity_swiper_next {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
} */

/* .celebrity_swiper .celebrity_swiper_prev {
  left: 6.6145833vw;
}

.celebrity_swiper .celebrity_swiper_next {
  right: 13.2291667vw;
} */