.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: calc(5rem + var(--page-width-margin));
  }
}

.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

.article-template__hero-small {
  height: 11rem;
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 22rem;
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

.article-template header {
  margin-top: 4.4rem;
  margin-bottom: 2rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 5rem;
  }
}

.article-template__title {
  margin: 0;
}

.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
}

@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3.6rem 0;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}

/* 南得文章页 新 */
.nd_article{
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
.nd_article .nd_article_left{width: 67%;background-color: #fff;}
.nd_article .nd_article_right{width: 29%;display: flex;flex-direction: column;gap:3rem;}
.nd_article .nd_article_right .catalog{ padding: 3rem;background-color: #E2DED6;display: flex;flex-direction: column;align-items: flex-start;gap: 1.4rem;}
.nd_article .nd_article_right .catalog .nav_item{cursor: pointer;font-size: 2rem;color: #7F7E75;line-height: 3.6rem;border-bottom: 2px solid transparent;display: block;transition: all 0.3s ease-in-out;}
.nd_article .nd_article_right .catalog .nav_item.active,
.nd_article .nd_article_right .catalog  .nav_item:hover{border-bottom: 2px solid #BDFF00;color: #000000;}
.nd_article .nd_article_right .featured_article,
.nd_article .nd_article_right .featured_pro{ padding: 3rem;background-color: #E2DED6;display: flex;flex-direction: column;gap:3rem;}
.nd_article .nd_article_right .featured_article .article_card{display: flex;flex-direction: column;gap: 1.5rem;}
.nd_article .nd_article_right .featured_article .article_card__img{width: 100%;height: auto;overflow: hidden;}
.nd_article .nd_article_right .featured_article img{width: 100%;height: auto;transition: all 0.3s ease-in-out;}
.nd_article .nd_article_right .featured_article .date{color: #7F7E75;}
.nd_article .nd_article_right .featured_article .article_card:hover img{transform: scale(1.1);}
.nd_article .nd_article_right .featured_article .article_card:hover h4{text-decoration: underline;}
.nd_article .nd_article_right .featured_pro .product_card {
  background: #fff;
  padding: 2rem;
  display: flex;flex-direction: column;gap: 2rem;
}
.nd_article .nd_article_right .featured_pro .product_card .product_card__img{width: 100%;height: auto;overflow: hidden;}
.nd_article .nd_article_right .featured_pro .product_card img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}
.nd_article .nd_article_right .featured_pro .product_price {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 0.6rem;
}
.nd_article .nd_article_right .featured_pro .product_price_cap {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  text-decoration: line-through;
  color: #7F7E75;
}
.nd_article .nd_article_right .featured_pro .product_btn {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
