.product_info_section {
  width: 100%;
  background-color: #f2f1ed;
  padding-top: 3.7rem;
  padding-bottom: 6rem;
}

.product_info {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  gap: 6rem;
}

.product_info .product_info_left {
  position: sticky;
  top: 3rem;
  max-width: 70rem;
  min-width: 50rem;
}

.product_info .product_info_left_contain {
  position: relative;
  width: 100%;
}

.product_info .imgmain_swiper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.product_info .imgmain_swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.product_info .imgmain_swiper_prev,
.product_info .imgmain_swiper_next {
  width: 6rem;
  height: 6rem;
  background-color: rgba(242, 241, 237, .6);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

.product_info .imgmain_swiper_prev {
  left: 2.6rem;
}

.product_info .imgmain_swiper_next {
  right: 2rem;
}

.product_info .product_info_left_thumb {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.product_info .imgthumb_swiper_prev,
.product_info .imgthumb_swiper_next {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product_info .imgthumb_swiper_box {
  flex: 0 0 auto;
  width: 31.6rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.product_info .imgthumb_swiper {
  width: 26.4rem;
}

.product_info .imgthumb_swiper .swiper-slide {
  width: 6rem;
  height: 6rem;
}

.product_info .imgthumb_swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}