.recommended_products_section {
  width: 100%;
  background-color: #F2F1ED;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.recommended_products {
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
}

.recommended_products .recommended_products_title {
  color: #1F1F1F;
}

.recommended_products .recommended_products_contain {
  width: 100%;
  margin-top: 6rem;
}

.recommended_products .recommended_products_contain .swiper-slide {
  display: flex;
  flex-direction: column;
  height: auto;
}
.recommended_products .recommended_products_contain .swiper-slide:hover .recommended_products_img img {
  transform: scale(1.1);
}
.recommended_products .recommended_products_contain .swiper-slide:hover .recommended_products_info,
.recommended_products .recommended_products_contain .swiper-slide:hover .product_title_top {
  background-color: #BDFF00;
  
}
.recommended_products .recommended_products_contain .swiper-slide:hover .recommended_products_info_title,
.recommended_products .recommended_products_contain .swiper-slide:hover .product_title_top,
.recommended_products .recommended_products_contain .swiper-slide:hover .recommended_products_info_price,
.recommended_products .recommended_products_contain .swiper-slide:hover .recommended_products_info_price_op {
  color: #1A1A1A;
}

.recommended_products .recommended_products_img {
  width: 100%;
  /* height: 47.6rem; */
  background-color: #fff;
  overflow: hidden;
}

.recommended_products .recommended_products_img img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  object-position: center center;
  aspect-ratio: 1.118;
  transition: all 0.3s ease;
}

.recommended_products .recommended_products_info {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  gap: 2.6rem;
  background-color: #7F7E75;
  padding: 0.5rem 2rem 2rem 2rem;
  position: relative;
  transition: all 0.3s ease;
}

.recommended_products .recommended_products_info .product_title_top {
  background-color: #7F7E75;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  padding: 1rem 2rem 0rem;
  transition: all 0.3s ease;
}

.recommended_products .recommended_products_info_title,.recommended_products .recommended_products_info .product_title_top {
  color: #BDFF00;
  line-height: 1em;
}

.recommended_products .recommended_products_info_price {
  display: flex;
  align-items: baseline;
  gap: 1.4rem;
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
}

.recommended_products .recommended_products_info_price_op {
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  text-decoration: line-through;
  font-variation-settings: "opsz" auto;
  color: #FAFAFA;
}

.recommended_products .recommended_products_prev,
.recommended_products .recommended_products_next {
  width: 6rem;
  height: 6rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  top: 50%;
  cursor: pointer;
}

.recommended_products .recommended_products_prev {
  left: -12rem;
}

.recommended_products .recommended_products_next {
  right: -12rem;
}