.recommended_products_section {
  width: 100%;
  background-color: #F2F1ED;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.recommended_products {
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
}

.recommended_products .recommended_products_title {
  color: #1F1F1F;
}

.recommended_products .recommended_products_contain {
  width: 100%;
  margin-top: 6rem;
}

.recommended_products .recommended_products_contain .swiper-slide {
  display: flex;
  flex-direction: column;
  height: auto;
}

.recommended_products .recommended_products_contain .swiper-slide:hover .recommended_products_img img {
  transform: scale(1.1);
}

/* .recommended_products .recommended_products_contain .swiper-slide:hover .recommended_products_info,
.recommended_products .recommended_products_contain .swiper-slide:hover .product_title_top {
  background-color: #BDFF00;

} */

/* .recommended_products .recommended_products_contain .swiper-slide:hover .recommended_products_info_title,
.recommended_products .recommended_products_contain .swiper-slide:hover .product_title_top,
.recommended_products .recommended_products_contain .swiper-slide:hover .recommended_products_info_price,
.recommended_products .recommended_products_contain .swiper-slide:hover .recommended_products_info_price_op {
  color: #1A1A1A;
} */

.recommended_products .recommended_products_img {
  width: 100%;
  /* height: 47.6rem; */
  background-color: #fff;
  overflow: hidden;
}

.recommended_products .recommended_products_img img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  object-position: center center;
  aspect-ratio: 1.118;
  transition: all 0.3s ease;
}

.recommended_products .recommended_products_info {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  /* gap: 2.6rem; */
  background-color: #fff;
  padding: 0.5rem 2rem 2rem 2rem;
  position: relative;
  transition: all 0.3s ease;
}

.recommended_products .recommended_products_info .product_title_top {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  padding: 1rem 2rem 0rem;
  transition: all 0.3s ease;
}

.recommended_products .recommended_products_info_title,
.recommended_products .recommended_products_info .product_title_top {
  color: #1A1A1A;
  line-height: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.recommended_products .recommended_products_info_price {
  display: flex;
  align-items: baseline;
  gap: 1.4rem;
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1A1A1A;
  margin-top: 0.8rem;
}

.recommended_products .recommended_products_info_price_op {
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  text-decoration: line-through;
  font-variation-settings: "opsz" auto;
  color: #FAFAFA;
}

.recommended_products .recommended_products_prev,
.recommended_products .recommended_products_next {
  cursor: pointer;
}

.recommended_products .recommended_products_prev {
  left: -9rem;
}

.recommended_products .recommended_products_next {
  right: -9rem;
}

.recommended_products .recommended_products_info_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .recommended_products .recommended_products_info_btn {
  display: flex;
  width: 3rem;
  height: 3rem;
}

.recommended_products .recommended_products_info_btn svg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
} */

.recommended_products .recommended_products_option_item {
  margin-top: 1rem;
}

.recommended_products .recommended_products_option_item+.recommended_products_option_item {
  display: none;
}

.recommended_products .recommended_products_product:hover .recommended_products_option_item+.recommended_products_option_item {
  display: block;
}

.recommended_products .recommended_products_option_label {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.recommended_products .recommended_products_option_select {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 0.8rem;
}

.recommended_products .recommended_products_option_select[select-type="box"] .recommended_products_option_select_item {
  height: 2.8rem;
  padding: 0 2.4rem;
  display: flex;
  align-items: center;
  border: 0.1rem solid #E2DED6;
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  cursor: pointer;
}

.recommended_products .recommended_products_option_select[select-type="box"] .recommended_products_option_select_item_select {
  border-color: #BDFF00;
}

.recommended_products .recommended_products_option_select[select-type="circle"] .recommended_products_option_select_item {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: 0.1rem solid #7F7E75;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.recommended_products .recommended_products_option_select[select-type="circle"] .recommended_products_option_select_item_none::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 0.2rem;
  background-color: red;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: center;
}

.recommended_products .recommended_products_option_select[select-type="circle"] .recommended_products_option_select_item_select {
  border: 0.2rem solid #BDFF00;
}

.recommended_products .recommended_products_info_btn {
  width: 100%;
  height: 36px;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #BDFF00;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .recommended_products .recommended_products_prev {
    left: -6rem;
  }

  .recommended_products .recommended_products_next {
    right: -6rem;
  }
}

@media screen and (max-width: 1440px) {
  .recommended_products .recommended_products_prev {
    left: -4rem;
  }

  .recommended_products .recommended_products_next {
    right: -4rem;
  }
}

@media screen and (max-width: 1024px) {
  .recommended_products .recommended_products_prev {
    left: 0rem;
    display: none;
  }

  .recommended_products .recommended_products_next {
    right: 0rem;
    display: none;
  }
}