.polka_dot_img_with_text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.polka_dot_img_with_text.right {
    flex-direction: row-reverse;
}

.polka_dot_img_with_text_img {
    width: 50%;
    height: auto;
    position: relative;
}
.polka_dot_img_with_text_img img{
    width:100%;
    height:auto;
    display:block;
    object-fit:contain;
}

.polka_dot_img_with_text_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px 60px;
}
.polka_dot_img_with_text.right .polka_dot_img_with_text_text {
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}

@media (max-width: 1024px) {
    .polka_dot_img_with_text_img,
    .polka_dot_img_with_text_text {
        width: 100%;
    }
    .polka_dot_img_with_text {
        margin-top: 30px;
        flex-direction: column;
    }
    .polka_dot_img_with_text_text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }
}