.product_info_section {
  width: 100%;
  background-color: #f2f1ed;
  padding-top: 3.7rem;
  padding-bottom: 6rem;
}

.product_info {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  gap: 6rem;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

.product_info .product_info_left {
  position: sticky;
  top: 3rem;
  max-width: 70rem;
  min-width: 50rem;
}

.product_info .product_info_left_contain {
  position: relative;
  width: 100%;
}

.product_info .imgmain_swiper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.product_info .imgmain_swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.product_info .imgmain_swiper_prev,
.product_info .imgmain_swiper_next {
  width: 6rem;
  height: 6rem;
  background-color: rgba(242, 241, 237, .6);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

.product_info .imgmain_swiper_prev {
  left: 2.6rem;
}

.product_info .imgmain_swiper_next {
  right: 2rem;
}

.product_info .product_info_left_thumb {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.product_info .imgthumb_swiper_prev,
.product_info .imgthumb_swiper_next {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product_info .imgthumb_swiper_prev svg,
.product_info .imgthumb_swiper_next svg {
  width: 0.7rem;
}

.product_info .imgthumb_swiper_box {
  flex: 0 0 auto;
  width: 31.6rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.product_info .imgthumb_swiper {
  width: 26.4rem;
}

.product_info .imgthumb_swiper .swiper-slide {
  width: 6rem;
  height: 6rem;
}

.product_info .imgthumb_swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.product_info .product_info_left_thumb_select {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.product_info .product_info_left_thumb_select_item {
  width: 7.8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7F7E75;
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  cursor: pointer;
}

.product_info .product_info_left_thumb_select_item.active {
  background-color: #1F1F1F;
  color: #BDFF00;
}

.product_info .product_info_right {
  position: sticky;
  top: 3rem;
  flex: 1;
}

.product_info .product_info_title {
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-bottom: 1rem;
}

.product_info .product_info_price {
  display: flex;
  align-items: baseline;
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 2rem;
}

.product_info .product_info_price_op {
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  text-decoration: line-through;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  margin-left: 1.8rem;
}

.product_info .product_info_policies {
  font-family: "PP Right Grotesk";
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  margin-left: 1rem;
}

.product_info .product_info_saleinfo {
  padding: 2rem 3.5rem;
  background-color: #FF7500;
  display: inline-flex;
  margin-top: 2rem;
}

.product_info .product_info_saleinfo_name {
  font-family: "PP Right Grotesk";
  font-size: 4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  margin-bottom: 0.4rem;
}

.product_info .product_info_saleinfo_countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  font-family: "PP Right Grotesk";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #fff
}

.product_info .product_info_saleinfo_countdown_text {
  font-family: "PP Right Grotesk";
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
}

.product_info .product_info_saleinfo_countdown_item {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF7500;
}

.product_info .product_info_saleinfo_left {
  padding-right: 2.4rem;
  border-right: 0.1rem dashed #FFFFFF;
}

.product_info .product_info_saleinfo_right {
  padding-left: 2.4rem;
}

.product_info .product_info_saleinfo_code {
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  text-align: center;
}

.product_info .product_info_saleinfo_btn {
  width: 11rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-family: "PP Right Grotesk";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  cursor: pointer;
}

.product_info .product_info_key_features {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.product_info .product_info_key_features svg {
  width: 0.7rem;
  position: relative;
  top: 0.2rem;
}

.product_info .product_info_key_features_desc {
  font-family: "PP Right Grotesk";
  font-size: 16px;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  padding-bottom: 1.6rem;
  border-bottom: 0.1rem solid #E2DED6;
  padding-left: 1.8rem;
}

.product_info .product_info_option_contain {
  margin-top: 1.6rem;
}

.product_info .product_info_option_item {
  margin-bottom: 3rem;
}

.product_info .product_info_option_label {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75
}

.product_info .product_info_option_label_select {
  color: #1F1F1F
}

.product_info .product_info_option_select {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.2rem;
}

.product_info .product_info_option_select[select-type="circle"] {
  gap: 3.2rem;
  margin-top: 2rem;
  padding-left: 0.7rem;
}

.product_info .product_info_option_select[select-type="box"] .product_info_option_select_item {
  min-width: 11.8rem;
  height: 2.8rem;
  padding: 0 2.4rem;
  display: flex;
  align-items: center;
  border: 0.1rem solid #E2DED6;
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  cursor: pointer;
  background-color: #fff;
}

.product_info .product_info_option_select[select-type="box"] .product_info_option_select_item_select {
  border-color: #BDFF00;
}

.product_info .product_info_option_select[select-type="circle"] .product_info_option_select_item {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.product_info .product_info_option_select[select-type="circle"] .product_info_option_select_item_circle {
  box-shadow: inset 0px 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1;
  position: relative;
}

.product_info .product_info_option_select[select-type="circle"] .product_info_option_select_item_none {
  background-color: #f2f1ed;
}

.product_info .product_info_option_select[select-type="circle"] .product_info_option_select_item_none::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0.2rem;
  background-color: red;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: center;
}

.product_info .product_info_option_select[select-type="circle"] .product_info_option_select_item_select::before {
  content: '';
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
  background-color: #BDFF00;
  position: absolute;
  left: -0.7rem;
  top: -0.7rem;
}

.product_info .product_info_option_select[select-type="circle"] .product_info_option_select_item_select::after {
  content: '';
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: -0.5rem;
  top: -0.5rem;
}

.product_info .product_info_buybox {
  margin-bottom: 2rem;
}

.product_info .product_info_buybox_contain {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1.4rem;
}

.product_info .product_info_buybox_quantity_box {
  width: 11.8rem;
  height: 6rem;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.product_info .product_info_buybox_quantity_btn {
  width: 2.2rem;
  height: 2rem;
  display: flex;
  cursor: pointer;
}

.product_info .product_info_buybox_quantity_input {
  width: 4rem;
  height: 100%;
  text-align: center;
  background-color: #FAFAFA;
  border: none;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  position: relative;
}

.product_info .product_info_buybox_btns_btn {
  flex: 1;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  background: #F2F1ED;
  cursor: pointer;
  position: relative;
  transition: opacity .6s ease, color .6s ease, background-position .4s ease-out;
}

.product_info .product_info_buybox_btns_btn svg {
  width: 1.8rem;
  height: 1.8rem;
}

.product_info .product_info_buybox_btns_btn:hover {
  background: #BDFF00;
}

.product_info .product_info_buybox_btns_btn[data-type="buy_it_now"] {
  width: 100%;
  background: #BDFF00;
  justify-content: center;
  border: none;
}

.product_info .product_info_buybox_btns_btn[data-type="buy_it_now"]:hover {
  background: #1F1F1F;
  color: #BDFF00;
}

.product_info .product_info_modal_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.6rem;
  border-bottom: 0.1rem solid #E2DED6;
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  cursor: pointer;
  padding-right: 0.8rem;
}

.product_info .product_info_modal_item .product_info_modal_item_left {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.product_info .product_info_modal_item .product_info_modal_item_left+svg {
  width: 0.7rem;
  height: 1.2rem;
}

.product_info .product_info_payment_head {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  height: 4.6rem;
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.product_info .product_info_payment_head svg {
  width: 2.1rem;
}

.product_info .product_info_payment img {
  margin-left: 4rem;
  width: 50rem;
}

.product_info .product_info_modal_title {
  font-family: "PP Right Grotesk";
  font-size: 6rem;
  font-weight: 500;
  line-height: 94%;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.product_info .product_info_modal_content {
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 3rem;
}

.product_info .product_info_modal_tip {
  font-family: "PP Right Grotesk";
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
  margin-top: 1.2rem;
}

.product_info .common_modal_body .field-input {
  width: 100%;
  min-height: 4rem;
  border-radius: 0;
  border: 1px solid #E2DED6;
  margin-top: 2rem;
  padding: 0.8rem;
  font-family: "PP Right Grotesk";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #7F7E75;
}

.product_info .common_modal_body .contact-btn button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 32.2rem;
  height: 6.8rem;
  background-color: #BDFF00;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  cursor: pointer;
  margin-top: 1.5rem;
  border: none;
  padding: 0 2rem;
}

.product_info_section .product_info_bottom_bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: #fff;
  box-shadow: 0px -0.4rem 1rem 0px rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out;
  opacity: 0;
}

.product_info_section .product_info_bottom_bar_contain {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.product_info_section .product_infor_simplicity_right_select_title {
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  max-width: 51.6rem;
}

.product_info_section .product_info_bottom_bar_contain_right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  min-height: 6rem;
}

.product_info_section .product_info_bottom_bar_saleinfo {
  display: flex;
  align-items: baseline;
  font-family: "PP Right Grotesk";
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #FF7500;
}

.product_info_section .product_info_bottom_bar .product_info_price {
  display: flex;
  align-items: baseline;
  gap: 0.4rem;
  font-family: "PP Right Grotesk";
  font-size: 3rem;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.product_info_section .product_info_bottom_bar .product_info_price_op {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 130%;
  text-decoration: line-through;
  color: #7F7E75;
}

.product_info_section .product_info_bottom_bar .product_info_policies {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  color: #7F7E75;
}

.product_info_section .product_info_bottom_bar .product_info_bottom_bar_contain_right_buybox {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.product_info_section .product_info_bottom_bar .product_info_buybox_btns_btn {
  height: 4.4rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border: 0.15rem solid #1F1F1F;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  transition: opacity .6s ease, color .6s ease, background-position .4s ease-out;
}

.product_info_section .product_info_bottom_bar .product_info_buybox_btns_btn:hover {
  background: #BDFF00;
}

.product_info_section .product_info_bottom_bar .product_info_buybox_btns_btn[data-type="buy_it_now"] {
  background: #BDFF00;
  border: none;
}

.product_info_section .product_info_bottom_bar .product_info_buybox_btns_btn[data-type="buy_it_now"]:hover {
  background: #1F1F1F;
  color: #BDFF00;
}

.product_info_section .product_info_bottom_bar .product_info_saleinfo_countdown_text {
  margin-right: 0.4rem;
}

.product_info .product_info_left_contain_group {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

.product_info .product_info_left_contain_group.show {
  display: block;
}

.product_info .product_info_left_contain_group_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.product_info_section .product_info_buybox_btns_btn[disabled] {
  opacity: .4;
  background-position: 0 100%;
  cursor: not-allowed;
}