.header_simple_section {
  width: 100%;
  height: 8rem;
  background-color: #fff;
  border-bottom: 0.2rem solid #999896;
}

.header_simple {
  max-width: var(--page-width);
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.header_simple_search {
  margin-left: 4.6rem;
  max-width: 92rem;
  flex: 1;
}

.search__input.field__input {
  height: 3.7rem;
  background-color: #F3F3F3;
  border: none;
}