.company_intro {
  width: 100%;
  background-color: #F2F1ED;
}

.company_intro .company_intro_video {
  width: 100%;
  height: 43.75vw;
  position: relative;
}

.company_intro .company_intro_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.company_intro .company_intro_playicon {
  width: 11.041667vw;
  height: 11.041667vw;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 9.6875vw;
}

.company_intro .company_intro_contain {
  display: flex;
  justify-content: space-between;
  margin-top: 12rem;
}

.company_intro .company_intro_contain_left {
  flex: 1;
}

.company_intro .company_intro_title {
  font-family: "PP Right Grotesk";
  font-size: 6rem;
  font-weight: 500;
  line-height: 94%;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}

.company_intro .company_intro_btn {
  height: 3.5rem;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #BDFF00;
  font-family: "PP Right Grotesk";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
  margin-top: 9.8rem;
}

.company_intro .company_intro_contain_right {
  flex: 0 0 auto;
  width: 83rem;
  font-family: "PP Right Grotesk";
  font-size: 2rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #1F1F1F;
}