.image-comparison {
  position: relative;
  height: 77rem;
  overflow: hidden;
}

.image-comparison .image-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.image-comparison .image-left {
  left: 0;
  clip-path: inset(0 50% 0 0);
}

.image-comparison .image-right {
  right: 0;
  clip-path: inset(0 0 0 50%);
}

.image-comparison .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-comparison .divider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 0.4rem;
  background: #BDFF00;
  cursor: col-resize;
  z-index: 10;
}

.image-comparison .divider svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2.1rem;
}

@media screen and (max-width: 767px) {
  .image-comparison {
    height: 30rem;
  }
}