.blog-articles {
  display: grid;
  grid-gap: 1rem;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
}

.blog-articles .card-wrapper {
  width: 100%;
}
/* new blog */
.main-blog .nav_header{margin: 4rem auto;display: flex;justify-content: space-between;align-items: center;}
.main-blog .nav_header .blog-categories{display: flex;gap: 120px;}
.main-blog .nav_header .nav_item{cursor: pointer;font-size: 2rem;color: #7F7E75;line-height: 3.6rem;border-bottom: 2px solid transparent;}
.main-blog .nav_header .nav_item.active,.main-blog .nav_header .nav_item:hover{border-bottom: 2px solid #BDFF00;color: #000000;}
.main-blog .blog-sort-buttons {
  display: inline-flex;
}
.main-blog .blog-sort-buttons .sort-btn {
  padding: 6px 28px;
  font-size: 2.4rem;
  text-decoration: none;
  background-color: #fff;
  line-height: 1em;
  color: #7F7E75;
  transition: all 0.3s ease;
}
.main-blog .blog-sort-buttons .sort-btn:hover {
  background-color: #1F1F1F;
  color: #BDFF00;
}
.main-blog .blog-sort-buttons .sort-btn.active {
  background-color: #1F1F1F;
  color: #BDFF00;
}
.blog-articles--onecard> *:nth-child(1) .article-card .card__content .card__heading{
  font-size: 2.2rem;
}
.article-card .card__content .article-card__info,.article-card__blog{
  font-family:"PP Right Grotesk";
  color: #7F7E75;
}
.article-card__blog{font-size: 1.8rem;font-weight: 500;}
.article-card .card__content .article-card__info{
  font-size: 2rem;font-weight: 300;
}
.article-card .card__content .article-card__excerpt{
  font-size: 2rem;
  line-height: 1.3em;
  color: #1F1F1F;
  display: none;
  margin-top: 2.6rem;
  font-family:"PP Right Grotesk";
}
.blog-articles--onecard> *:nth-child(1) .article-card .card__content .article-card__excerpt{display: block;}
.article-card>.card__content {
  padding: 2rem;
  background-color: #fff;
  position: relative;
}
.card--standard>.card__content .card__information{padding: 0!important;}
.blog-articles--onecard > *:not(:nth-child(1)) .article-card__blog {
  position: absolute;
  background-color: #fff;
  padding: 1rem 2rem 0;
  left: 0;
  top:-40px;
}
.article-card-wrapper:hover .article-card>.card__content,.article-card-wrapper:hover .article-card__blog {
  background-color: #BDFF00!important;
}
.article-card-wrapper:hover .article-card .card__content .article-card__info,.article-card-wrapper:hover .article-card__blog {
  color: #1F1F1F;
}


@media screen and (min-width: 750px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr 1fr;
    /* column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing); */
    column-gap: 3rem;
    row-gap: 3rem;
  }
  /* new blog */
  .blog-articles--onecard> *:nth-child(1){
    grid-column: span 3;
    text-align: center;
  }
  .blog-articles--onecard> *:nth-child(1) .article-card{
    flex-direction: row;
  }
  .blog-articles--onecard> *:nth-child(1) .article-card .card__inner{width: 50%;}
  .blog-articles--onecard> *:nth-child(1) .article-card .card__inner .card__media{position: relative;width: 100%;min-height:42rem;}
  .blog-articles--onecard> *:nth-child(1) .article-card .card__inner .card__content{display: none;}
  .blog-articles--onecard> *:nth-child(1) .article-card>.card__content {
    width: 50%;
    padding: 4rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .blog-articles--onecard> *:nth-child(1) .article-card .card__content .card__heading{
    font-size: 3rem;
  }
  .blog-articles--onecard> *:nth-child(1) .article-card .card__content .article-card__info{
    font-size: 2.4rem;
    font-weight: 500;
  }
  .blog-articles--onecard> *:nth-child(1) .article-card .card__content .article-card__blog{
    font-size: 2.4rem;
    font-weight: 500;
  }
  

  /* collage */
  .blog-articles--collage > *:nth-child(3n + 1),
  .blog-articles--collage > *:nth-child(3n + 2):last-child {
    grid-column: span 2;
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .card,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .card {
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio::before {
    padding-bottom: 22rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 44rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 66rem;
  }
}

@media screen and (min-width: 990px) {
  /* new */
  .blog-articles--onecard> *:nth-child(1) .article-card .card__content .card__heading{
    font-size: 4rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio .ratio::before {
    padding-bottom: 27.5rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 55rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 82.5rem;
  }
}
